@import '../../variables/colors.scss';
@import '../../variables/fonts.scss';
@import '../../variables/utils';
@import '../../variables/breakpoints';

.forgotContainer {
  @include width(680);
}

.forgot-password {
    background-color: white;
    @include padding(40, 80);

    .header {
      font-family: $roboto-medium;
      text-align: center;
    }
}