@import '../../variables/colors.scss';
@import '../../variables/fonts.scss';
@import '../../variables/utils';
@import '../../variables/breakpoints';

.forgotContainer {
  @include width(490);
}

.forgot-password {
  background-color: white;
  @include padding(40, 50);
  text-align: center;

  .header {
    font-family: $roboto-medium;
    @include letterSpacing(0.66);
    @include fontSize(22);
    margin-bottom: 2.5rem;
  }

  .message {
    font-family: $roboto-regular;
    @include fontSize(18);
    @include letterSpacing(0.54);

    span {
      font-family: $roboto-medium;

    }
  }

  .error {
    @include fontSize(15);
    color: $bright-red;
    margin-top: .5rem;
    position: absolute;
    left: 0;
    right: 0;
  }
}
