@import '../../variables/colors';
@import '../../variables/fonts';
@import '../../variables/utils';

.talk-popup {
  @include width(750);
}

.login-form {
  display: flex;
  flex-direction: column;
  @include padding(80,90,30);
  background: url('/images/planner-bg.png') no-repeat;
  background-size: contain;
  border: 2px solid $medium-pink;
  @include mobile {
    padding: 2rem;
  }

  img {
    @include width(100);
    @include height(100);
    margin: 0 auto;
    user-select: none;
  }
}

.logo-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include margin(25,0,30);
  @include mobile {
    margin: 1rem 0 0;
  }
}

.image {
  @include width(143);
  height: auto;
  max-width: 143px;
}

.mainHeading {
  @include fontSize(48);
  font-family: $roboto-light;
  text-align: center;
  color: $medium-pink;
  @include mobile {
    font-size: 2rem;
  }
}

.heading {
  @include fontSize(25);
  font-family: $frank-medium;
  color: $black-nine;
  margin: 0 auto;
  text-align: center;
  @include mobile {
    font-size: 1.3rem;
  }
}

.apiError {
  @include fontSize(16);
  color: $bright-red;
  bottom: 1.5rem;

  &::first-letter {
    text-transform: capitalize;
  }
}

.footer-link {
  font-size: 1rem !important;
  font-family: $roboto-regular !important;
  text-decoration: none !important;
}

.phone {
  width: max-content;
  margin: 0 auto;
  margin-top: 2rem;
  border-radius: 20px;
  padding: 3px;
  border: 1px solid $secondary-color;

  a {
    font-family: $roboto-medium;
    color:$secondary-color;
    display: none;
  }

  span {
    font-family: $roboto-medium;
    color:$secondary-color;
    margin-left: 0.5rem;
    user-select: none;
  }

  @include mobile {
    margin-top: 1rem;
    margin-bottom: 0;

    a {
      display: inline-block;
      margin-left: 0.5rem;
    }

    span {
      display: none;
    }
  }

  img {
    @include width(40); 
    @include height(40);
  }
}
