@import '../../variables/colors';
@import '../../variables/fonts';
@import '../../variables/utils';

.talk-popup {
  @include width(544);
}

.login-form {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  // @include width(544);
  @include tablet {
     @include padding(55);
  }
}

.logo-wrap {
  display: flex;
  align-items: center;
  @include margin(0,0,35)
}

.image {
  @include width(143);
  height: auto;
  max-width: 143px;
}

.heading {
  @include fontSize(22);
  font-family: $roboto-medium;
  color: $black-nine;
}

.apiError {
  @include fontSize(16);
  color: $bright-red;
  position: absolute;
  top: 7.5rem;

  &::first-letter {
    text-transform: capitalize;
  }
}

.closeBtn {
  position: absolute;
  right: 2rem;
  top: 2rem;
  cursor: pointer;
}

.pulsateRing {
  border: 2px solid $secondary-color;
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  position: absolute;
  animation: pulsate 1.5s ease-out;
  animation-iteration-count: infinite; 
  opacity: 0.0
}
@keyframes pulsate {
  0% {opacity: 0.0;}
  50% {opacity: 1.0;}
  100% {transform: scale(1.5, 1.5); opacity: 0.0;}
}