$mobile: 'only screen and (max-width: 767px)';
$mobile-landscape: 'only screen and (max-width: 767px) and (orientation: landscape)';
$tablet: 'only screen and (min-width: 768px)';
$tablet-only: 'only screen and (min-width: 768px) and (max-width: 1023px)';
$desktop: 'only screen and (min-width: 1024px)';
$hd: 'only screen and (min-width: 1280px)';
$hd-plus: 'only screen and (min-width: 1440px)';
$full-hd: 'only screen and (min-width: 1850px)';
$u-hd: 'only screen and (min-width: 3840px)';


