$gray-light: #f2f3f5;
$blue-dark: #2b3642;
$blue: #007aff;
$bright-red: #e0000c;
$black: #000000;
$black-two: #242424;
$black-four: #0a0a0a;
$brownish-grey-two: #646464;
$fire-engine-red:#e0000b;
$sun-yellow: #fce325;
$white: #ffffff;
$white-two: #f8f8f8;
$warm-grey-two: #70707042;
$chocolate: #461204;
$black-six: #383737;
$black-16: rgba(0, 0, 0, 0.16);
$greyish-brown: #555555;
$black-five: #333333;
$warm-grey: #a29d9d;
$warm-grey-two: #707070;
$white-four: #f2f2f2;
$black-seven: #362e2e;
$white-three:#f7f7f7;
$black-eight:#2b2b2b;
$warm-grey-three:#767676;
$corn-flower:#6d8df7;
$black-nine:#383838;
$black-ten: #343434;
$tomato-red:#ef1800;
$red: #d80000;
$black-twelve:#070707;
$warm-grey-six: #807c7c;
$black-fourteen: #101010;
$red-two: #f00303;
$black-fifteen: #212020;
$brownish-grey-three: #5c5c5c;
$grape: #5b2148;
$primary-color: #ee4d9b;
$secondary-color: #6d2158;
$tertiary-color: #da2128;
$primary-color-25: rgba(238, 77, 155, 0.25);
$warm-grey-eight: #6c6c6c;
$greyish-brown-four: #534d4d;
