@import '../../variables/colors';
@import '../../variables/utils';
@import '../../variables/fonts';
@import '../../variables/breakpoints';

.servicesContainer {
  color: $black;

  h1 {
    font-size: 4.5rem;
    color: $white;
    text-align: center;
    @include mobile {
      font-size: 33px;
      font-weight: bold;
    }
  }

  h4 {
    color: white;
    font-family: $roboto;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.36;
    @include mobile {
      font-size: 1.5rem;
    }
  }

  .servicesCover {
    height: 38vw;
    position: relative;
    background: url('#{$image-base-url}/services-banner.png');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding-left: 1%;
    margin-bottom: 3rem;
    @include mobile {
      height: 90vw;
      background-position: right;
      margin-bottom: 0;

      &:before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        height: 200px;
        width: 100%;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000000);

      }
    }

    .coverDetail {
      display: flex;
      flex-direction: column;
      width: 49rem;
      height: 100%;
      align-items: center;
      justify-content: center;
      @include mobile {
        width: 90%;
        margin: 0 auto;
        justify-content: flex-end;
        padding-bottom: 2rem;

        h1,
        h4 {
          z-index: 2;
        }
      }
    }

  }

  .containerClass {
    padding: 5% 5% 0;
    @include desktop {
      padding: 0 5%;
    }
    @include hd {
      padding: 0 10%;
    }
  }

  .detailBox {
    margin-left: 0;
    margin-right: 0;

    h2 {
      font-size: 2.857rem;
      color: $medium-pink;
      font-weight: 500;
      text-align: center;
    }

    p {
      color: $greyish-brown;
      font-size: 1.2857rem;
      text-align: center;
    }

    &:nth-child(3) {
      .sectionWrap {
        background-color: $medium-pink;
        @include tablet {
          flex-direction: row-reverse;
        }

        h3 {
          &.mobile {
            color: $white;

          }
        }

        .contentPart {
          ul {
            li {
              @include mobile {
                color: $white;

                &::before {
                  content: '';
                  background: url('#{$image-base-url}/fav-icon-white.png') no-repeat top left;

                }
              }
            }
          }

        }

      }

      h2 {
        color: $white;
        width: 100%;
        background-color: $medium-pink;
        margin: 0;
        padding-top: 1rem;
        font-size: 2.143rem;
        font-weight: 700;
        padding: 1rem 1rem 0;
      }
    }
  }
}

.detailWrap {
  display: flex;
  flex-direction: column;
  @include tablet {
    flex-direction: row;
  }

}

.sectionWrap {
  display: flex;
  padding: 2rem;
  margin-bottom: 1rem;
  border: 1px solid $medium-pink;
  flex-direction: column;
  @include tablet {
    flex-direction: row;
    border: none;
    padding: 1rem;

  }

  h3 {
    font-size: 2.143rem;
    font-weight: 700;
    color: $medium-pink;
    text-align: center;
    margin: 0;

    &.mobile {
      color: $greyish-brown;
      font-size: 40px;
    }
  }
}

.imageCarouselWrap {
  position: relative;
  @include tablet {
    display: flex;
    align-items: center;
  }
}

.contentPart {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  @include tablet {
    background-color: #f5f5f5;
    padding: 1.8rem 8%;
    box-shadow: 1px 1px 0 0 rgba(242, 46, 144, 0.8);

  }

  ul {
    list-style: none;
    display: flex;
    height: 100%;
    justify-content: flex-start;
    padding: 0;
    flex-wrap: wrap;
    margin: 1.5rem 0;
    @include tablet {
      justify-content: center;
    }

    li {
      padding: .2rem 0 .2rem 1.25rem;
      font-size: 15px;
      position: relative;
      color: $greyish-brown-two;
      line-height: 1.72;
      width: 100%;
      @include tablet {
         @include padding(0,0,0,40);
        font-size: 1.286rem;
        width: 50%;
      }
      @include desktop {}

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: .7rem;
        width: 12px;
        height: 14px;
        background: url('#{$image-base-url}/fav-icon.png') no-repeat top left;
        background-size: contain;
        @include tablet {
          top: .7rem;
          width: 1rem;
          height: 1rem;
        }
      }
    }
  }
}

.vowIconLine {
  height: 3.85rem;
  margin: 2rem 0 4rem;
}

.imgIcon {
  z-index: 2;
  width: 4.285rem;
  height: 4.285rem;
  position: absolute;
  left: 50%;
  bottom: 2.5rem;
  transform: translateX(-50%);
}
