@import '../../variables/colors';
@import '../../variables/utils';
@import '../../variables/fonts';
@import '../../variables/breakpoints';

.servicesContainer {
  color: $black;

  h1 {
    font-size: 5rem;
    color: $white;
    margin-top: 15rem;
  }

  h4 {
    color: white;
    font-family: $roboto;
    font-weight: 300;
    font-size: 1.83rem;
    line-height: 1.36;
  }

  .servicesCover {
    height: 42vw;
    position: relative;
    background: url('#{$image-base-url}/services-banner.png');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    @include mobile {
      height: 48vw;
    }

    .coverDetail {
      display: flex;
      flex-direction: column;
      width: 35%;
      height: 70%;
      align-items: center;
      justify-content: space-around;
      margin-left: 5%;
    }

    .iconContainer {
      display: flex;
    width: 100%;
      justify-content: space-around;
    }
  }

  .containerClass {
    @include hdPlus {
      max-width: 1400px;
    }
  }

  .detailBox {
    .leftSection {
      @include padding(60, 40);
      border-right: 2px solid $medium-pink;
      text-align: right;

      h3 {
        font-size: 3.3rem;
        color: $greyish-brown-six;
        @include letterSpacing(0.2);
        line-height: 5rem;
      }
    
      hr {
        width: 60%;
        margin-bottom: 0;
      }
    
      ul {
        list-style: none;
    
        li {
          @include padding(10,0);
          font-size: 1.67rem;
          cursor: pointer;
        }
      }
    }

    .rightSection {
      @include padding(60, 40);
      color: white;

      img {
        width: 100%;
      }

      .vowIcon {
        width: 4.5rem;
        position: absolute;
        left: -2.25rem;
        top: -1rem;
      }

      .description {
        background-color: $medium-pink;
        padding: 0;
      }

      ul {
        list-style: none;
        @include padding(10,20);
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
    
        li {
          @include padding(10, 0, 10, 40);
          font-size: 1.5rem;
          background: url('#{$image-base-url}/detail-icon.png') left 0.5rem no-repeat;
          background-size: 30px; 
        }
      }
      
      h2 {
        color: $greyish-brown-six;
      }

      .pink {
        color: $medium-pink;
      }

      h4 {
        color: $greyish-brown-six;
        width: 90%;
      }

    }
  }
}
