@import '../../variables/colors';
@import '../../variables/fonts';
@import '../../variables/utils';

.carouselImage {
  width: 42vw;
  height: 42vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  @include tablet {
    width: 30rem;
    height: 24.3rem;
    background-size: cover;
  }
}
