@import '../../variables/colors';
@import '../../variables/fonts';
@import '../../variables/utils';

.carouselImage {
    width: 23.143rem;
    height: 18.714rem;
    background-size: cover;
    background-repeat: no-repeat;
}