@import '../../variables/utils';
@import '../../variables/fonts';
@import '../../variables/colors';

.searchField {
    @include width(700);
    margin: 0 auto;
    border: none;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.16);
    margin-bottom: 4rem;

    @include mobile {
        width: 90%;
    }

    input {
        border: none;
        @include height(70);
        @include padding(0, 20);
        @include fontSize(18);
        color: $black-five;
        letter-spacing: 0.36px;
        font-family: $roboto-regular;

        &:focus {
            outline: 0;
            box-shadow: none;
        }

        @include mobile {
            @include height(60);
        }

    }

    button {
        @include width(70);
        background-size: 20px 20px;
        background: url(/images/search_icon.svg) center center no-repeat #ef1800;

        @include mobile {
            @include width(60);
            background-size: 30px 30px;
        }
    }
}