@import '../../variables/colors';
@import '../../variables/utils';
@import '../../variables/fonts';

.cartContainer {
  @include padding(60,100);
  @include hd{
    max-width: 1200px;
    margin: auto;
  }
  @include mobile {
     @include padding(25,20);
  }
}

.cartPageTitle {
  @include fontSize(32);
  text-transform: uppercase;
  font-family: $roboto-medium;
  letter-spacing: 1px;
}

.cartCard {
  border-radius: 3px;
  box-shadow: 1px 3px 8px 0 rgba(0, 0, 0, 0.16);
  background-color: $white;
  margin-bottom: 2rem;

  .headerRow {
    @include padding(25);
    border-bottom: 1px solid #70707040;
    @include mobile {
       @include padding(20,15);
    }

    &:last-child {
      border-bottom: none;
    }

    &:only-child {
      border-bottom: 1px solid #70707040;
    }
  }
}

// title text and other heading..

.titleStyles {
  font-family: $roboto-medium;
  line-height: .87;
  letter-spacing: .9px;
  color: $black-five;
}

.cartTitle {
  @extend .titleStyles;
  @include fontSize(30);
}

.cartTitleSmall {
  @extend .titleStyles;
  @include fontSize(22);
}

.summaryText {
  @extend .titleStyles;
  @include fontSize(20);
  line-height: 2.4;
  letter-spacing: .6px;
}

.summaryTextSub {
  @extend .summaryText;
  font-family: $roboto-regular;
}

.summaryTextSubTotal {
  @extend .summaryText;
  font-family: $roboto-bold;
}

.summaryTotal {
  @extend .summaryText;
  @include fontSize(28);
}

.cartItemPrice {
    @extend .summaryText;
    @include fontSize(24);
    line-height: normal;
}

// text in red

.redStyles {
  font-family: $roboto-medium;
  color: $primary-color;
  cursor: pointer;
}

.backLink {
  @extend .redStyles;
  @include fontSize(18);
  letter-spacing: .54px;
}

.editRemoveLink {
  @extend .redStyles;
  @include fontSize(14);
  letter-spacing: .42px;
}

// button styles

.button {
  @include borderRadius(3);
  background-color: $primary-color;
  @include fontSize(28);
  font-family: $roboto-bold;
  @include letterSpacing(.4);
  @include padding(15,30);
  text-transform: uppercase;
  border: none;
}

.buttonSmall {
  @extend .button;
  @include fontSize(20);
  @include padding(5,10);
}

// couponcode Inputbox

.cartInput {
  display: inline-block;
  margin-right: 1.5rem;
  width: 50%;
  @include fontSize(20);
  @include padding(24,16);
  border: 1px solid $warm-grey-two;
  border-radius: 0;
}

// checkout page specific styles

.partyLogin {
  @include padding(32,0,16);
  background-color: $white-two;

  .pText {
    @extend .summaryTextSub;
    line-height: normal;
    color: $black-seven;

    span {
      @extend .backLink;
      text-decoration: underline;
      margin-left: 0.5rem;
      font-family: $roboto-bold;
    }
  }
}