@import '../variables/fonts';
@import '../variables/colors';
@import '../variables/utils';

html {
  height: 100%;
  @include mobile {
    font-size: 11px;
  }
  @include tablet {
    font-size: 11px;
  }
  @include desktop {
    font-size: 11px;
  }
  @include hd {
    font-size: 11px;
  }
  @include hdPlus {
    font-size: 12px;
  }
  @include fullHd {
    font-size: 14px;
  }
}

body {
  font-family: $roboto-regular;
  font-size: 16px;
  padding: 0;
  margin: 0;
  color: $blue-dark;
}

#root {
  min-height: 100%;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $frank-regular;
}

h1,
h2 {
  @include fontSize(58);
}

.app {
  margin-top: 10.33125rem;
}

.main {
  min-height: calc(100vh - 40.1rem);
}

.primary-button {
  background-color: $primary-color;
  font-family: $roboto-medium;
  @include fontSize(16);
  @include letterSpacing(.5);
  @include padding(20,22);
  @include borderRadius(8);
  color: $white;
  outline: none;
  border: none;
  cursor: pointer;
}
