@import '../variables/fonts';
@import '../variables/colors';
@import '../variables/utils';

html {
  height: 100%;
  @include mobile {
    font-size: 11px;
  }
  @include tablet {
    font-size: 11px;
  }
  @include desktop {
    font-size: 11px;
  }
  @include hd {
    font-size: 11px;
  }
  @include hdPlus {
    font-size: 12px;
  }
  @include fullHd {
    font-size: 14px;
  }
  @include threeK {
    font-size: 20px;
  }
  @include uHd {
    font-size: 24px;
  }
}

body {
  font-family: $roboto-regular;
  font-size: 16px;
  padding: 0 !important;
  overflow: auto !important;
  margin: 0;
  color: $black-five;
}

#root {
  min-height: 100%;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $frank-regular;
}

h1,
h2 {
  @include fontSize(58);
  color: $secondary-color;
  @include mobile {
    font-size: 20px !important;
  }
}

.main {
  min-height: calc(100vh - 40rem);
  margin-top: calc(50px + 6.6875rem);
  @include mobile {
    margin-top: 4.9375rem;
  }
}

.primary-button {
  font-size: 14px;
  background-color: $primary-color;
  font-family: $roboto-medium;
  @include letterSpacing(.5);
  @include padding(12,22);
  border-radius: 3.9px;
  min-width: 8rem;
  color: $white;
  outline: none;
  border: none;
  cursor: pointer;
  white-space: nowrap;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.08), 0 4px 7px 0 rgba(50, 50, 93, 0.11);
  @include margin(0,8);
  @include tablet {
     @include fontSize(16);

  }

  &:hover {
    color: $white;
    text-decoration: none;
    background-color: #E54291;
  }

  &:active {
    background-color: #E54291;
  }

  &.medium-pink {
    background-color: $medium-pink;
    font-family: $roboto-bold;

  }

  &.white {
    background-color: $white;
    color: $medium-pink;
    font-family: $roboto-bold;

  }

  &.home-btn {
    width: 15rem;
    display: flex;
    justify-content: center;
  }
}

.secondary-button {
  @extend .primary-button;
  background-color: grey;
}

.text-btn {
  color: $primary-color;
  font-family: $roboto-medium;
  background: none;
  border: none;
  @include margin(0,8);
  cursor: pointer;

  &:hover {
    background: none;
    color: $primary-color;
  }

  &.small {
    @include fontSize(16);
  }
}

.spinner-margin {
  // margin: 0 0px 0 -15px;
  @include margin(0,5,0,-15);
}

.mobile-only {
  @include tablet {
    display: none !important;
  }
}

.tab-only {
  @include mobile {
    display: none !important;
  }
}

.p-relative {
  position: relative;
}

.no-padding-mobile {
  @include mobile {
    padding: 0;
  }
}

.mobile-column {
  @include mobile {
    flex-direction: column !important;
  }
}

.align-center {
  align-items: center !important;
}

.mobile-col-reverse {
  @include mobile {
    flex-direction: column-reverse;
  }
}

textarea {
  resize: none;
}

.align-flex-top {
  @include mobile {
    align-items: center !important;
  }
  align-items: flex-start !important;
}
