@import "./style.css";
@import './base';
@import '../variables/utils';
@import '../variables/colors';
@import '../variables/breakpoints';
@import "node_modules/react-image-gallery/styles/scss/image-gallery.scss";

.jumbotron {
  border-radius: 0;

  .container {
    @media only screen and (min-width: 992px) {
      max-width: 750px;
    }
    @include hd {
      max-width: 800px;
    }
    @include hdPlus {
      max-width: 1200px;
    }
  }
}

.card {
  border: 0;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.31);
  }
}

.carousel-indicators {
  z-index: 2;
  bottom: 8rem;

  li {
    border-radius: 50%;
    @include width(18);
    @include height(18);
    opacity: 1 !important;
    border: 1px solid $white;
    background-color: transparent;
  }

  .active {
    background-color: $white;
  }
}

// modal override 

.modal-dialog {
  @include mobile {
    margin: 0 auto;
    max-width: 80% !important;
  }
  @include desktop {
    // max-width: 60% !important;
  }
}

// text-input styles

.input-field {
  position: relative;
  @include fontSize(18);
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 1.4em 0;

  .input-box {
    display: block;
    outline: none;
    border: none;
    border-bottom: 1px solid $warm-grey-two;
    font-size: 1em;
    margin: 0;
    padding: .3em 0;
    width: 100%;
    background: 0 0;
    text-align: left;
    color: $black-twelve;
    font-family: $nunito-regular;

  }

  .input-placeholder {
    font-size: 1em;
    bottom: 0;
    // color: rgba(0,0,0,.26);
    color: rgba(7,7,7,.5);
    left: 0;
    right: 0;
    pointer-events: none;
    user-select: none;
    position: absolute;
    display: block;
    top: 1.8em;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
    transform-origin: top left;
    transition: all .2s cubic-bezier(.4,0,.2,1);
  }

  .input-bar {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 1.4em;
    width: .7em;
    height: .1em;
    background-color: $warm-grey-two;
    visibility: hidden;
    transition: all .2s cubic-bezier(.4,0,.2,1);
  }

  .input-error {
    display: block;
    position: absolute;
    margin-top: .4em;
    color: #d50000;
    font-size: .8em;
    visibility: hidden;
  }

  &.is-focussed {
    &.floating-label {
      .input-placeholder {
        color: rgba(7,7,7,.5);
        text-transform: uppercase;
        letter-spacing: .4px;
        transform: translateY(-70%) scale(0.9);
      }
    }

    &:not(.floating-label).is-dirty {
      .input-placeholder {
        color: transparent;
      }
    }

    .input-bar {
      left: 0;
      width: 100%;
      visibility: visible;
    }

    &.error {
      &:not(.floating-label).input-placeholder {
        color: transparent;
      }

      .input-placeholder {
        color: #d50000;
      }

      .input-bar {
        background-color: #d50000;
      }

      .input-error {
        visibility: visible;
      }
    }
  }

  &.error {
    &:not(.is-focussed).input-placeholder {
      color: #d50000;
    }

    .input-box {
      border-bottom: 1px solid #d50000;
    }

    .input-error {
      visibility: visible;
    }
  }
}


//pagination styles

.pagination {
  margin: 0 auto;
  width: max-content;

  li {
    background-color: $white;
    padding: .25rem 1rem;
    @include fontSize(20);
    font-family: $nunito-regular;
    line-height: 1.5;

    a {
      color: #898989;
      outline: none;
      text-decoration: none;
      cursor: pointer;
    }
  }

  .active {
    background-color: #edbbbb;
    font-family: $nunito-bold;

    a {
      color: #2c2c2c;
    }
  }

  .next,
  .previous {
    font-family: $nunito-bold;

    a {
      color: #747474;
    }
  }
}

// multicarousel

.slick-next, .slick-prev {
  width: 50px;
  height: 50px;

  &:before {
    content: '' !important;
  }
}
