@import "./style.css";
@import './base';
@import '../variables/utils';
@import '../variables/colors';
@import '../variables/breakpoints';
@import "node_modules/react-image-gallery/styles/scss/image-gallery.scss";

.jumbotron {
  border-radius: 0;

  .container {
    @media only screen and (min-width: 992px) {
      max-width: 750px;
    }
    @include hd {
      max-width: 800px;
    }
    @include hdPlus {
      max-width: 1200px;
    }
  }
}

.card {
  border: 0;
  cursor: pointer;
  @include borderRadius(18);
  transition: all .7s ease;

  &:hover {
    box-shadow: 0 3px 10px 2px rgba(0, 0, 0, 0.2);
  }
}

.carousel-indicators {
  z-index: 2;
  bottom: 1rem;
  max-width: 935px;
  @include mobile {
    bottom: 2rem;
  }

  li {
    border-radius: 50%;
    @include width(8);
    @include height(8);
    opacity: 1 !important;
    border: 1px solid $white;
    background-color: transparent;

    &.active {
      background-color: $white;
    }
  }

}

// modal override

.modal-dialog {
  @include mobile {
    margin: 0 auto;
    max-width: 80% !important;
  }
  @include desktop {
    // max-width: 60% !important;
  }
}

// text-input styles

.input-field {
  position: relative;
  @include fontSize(18);
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 1.4em 0;

  .input-box {
    display: block;
    outline: none;
    border: none;
    border-bottom: 1px solid $warm-grey-two;
    @include fontSize(18);
    margin: 0;
    padding: .3em 0;
    width: 100%;
    background: 0 0;
    text-align: left;
    color: $black-twelve;
    font-family: $roboto-regular;

  }

  .input-placeholder {
    font-size: 1em;
    bottom: 0;
    color: rgba(7,7,7,.5);
    left: 0;
    right: 0;
    pointer-events: none;
    user-select: none;
    position: absolute;
    display: block;
    top: 1.8em;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
    transform-origin: top left;
    transition: all .2s cubic-bezier(.4,0,.2,1);
  }

  .date-placeholder {
    font-size: 1em;
    bottom: 0;
    color: rgba(7,7,7,.5);
    left: 0;
    right: 0;
    pointer-events: none;
    user-select: none;
    position: absolute;
    display: block;
    top: 1.8em;
    transform-origin: top left;
    transition: all .2s cubic-bezier(.4,0,.2,1);

    color: rgba(7,7,7,.5);
    text-transform: uppercase;
    letter-spacing: .4px;
    transform: translateY(-70%) scale(0.9);
    text-align: left;
  }

  .comment-placeholder {
    top: 0;
  }

  .input-bar {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 1.4em;
    width: .7em;
    height: .1em;
    // background-color: $warm-grey-two;
    visibility: hidden;
    transition: all .2s cubic-bezier(.4,0,.2,1);
  }

  .input-error {
    display: block;
    position: absolute;
    margin-top: .4em;
    color: #d50000;
    font-size: .8em;
    letter-spacing: .39px;
    visibility: hidden;
    text-transform: lowercase;

    &::first-letter {
      text-transform: capitalize;
    }
  }

  .input-password-mask {
    background: center url('/images/info.svg') no-repeat;
    background-size: contain;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1.5em;
    height: 1.5em;
    cursor: pointer;
  }

  &.is-focussed {
    &.floating-label {
      .input-placeholder {
        color: rgba(7,7,7,.5);
        text-transform: uppercase;
        letter-spacing: .4px;
        transform: translateY(-70%) scale(0.8);
      }

      .comment-placeholder {
        transform: translateY(0%) scale(0.8);
      }
    }

    &:not(.floating-label).is-dirty {
      .input-placeholder {
        color: transparent;
      }
    }

    .input-bar {
      left: 0;
      width: 100%;
      visibility: visible;
    }

    &.error {
      &:not(.floating-label).input-placeholder {
        color: transparent;
      }

      .input-placeholder {
        color: #d50000;
      }

      .input-bar {
        background-color: #d50000;
      }

      .input-error {
        visibility: visible;
      }
    }
  }

  &.error {
    &:not(.is-focussed).input-placeholder {
      color: #d50000;
    }

    .input-box {
      border-bottom: 1px solid #d50000;
    }

    .input-error {
      visibility: visible;
    }

    &.password-unmasked {
      .input-password-mask {
        background: center url("/images/filter-search-icon.png") no-repeat;
        background-size: contain;
      }
    }
  }
}

//pagination styles

.pagination {
  margin: 0 auto;
  width: max-content;

  li {
    background-color: $white;
    padding: .25rem 1rem;
    @include fontSize(20);
    font-family: $roboto-regular;
    line-height: 1.5;

    a {
      color: #898989;
      outline: none;
      text-decoration: none;
      cursor: pointer;
    }
  }

  .active {
    background-color: #edbbbb;
    font-family: $roboto-bold;

    a {
      color: #2c2c2c;
    }
  }

  .next,
  .previous {
    font-family: $roboto-bold;

    a {
      color: #747474;
    }
  }
}

// multicarousel

.slick-next,
.slick-prev {
  width: 50px;
  height: 50px;

  &:before {
    content: '' !important;
  }
}

.slick-list {
  @include mobile {
    padding: 0 20% 0 0;

    .col {
      padding: 0 5px;
    }
  }
}

.delete-icon {
  @include width(18);
  @include height(18);
  position: absolute;
  right: 0;
  @include top(-24);
  background: url('/images/delete.svg') center center no-repeat;
  background-size: contain;
  cursor: pointer;
}

.edit-icon {
  @include width(18);
  @include height(18);
  position: absolute;
  right: 2rem;
  @include top(-24);
  background: url('/images/edit.svg') center center no-repeat;
  background-size: contain;
  cursor: pointer;
}

//  Gallery styles
.image-gallery-image {
  width: 75vw;
  height: 25vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-gallery-thumbnail {
  &.active {
    border: 4px solid $white;
    @include borderRadius(10);
  }
}

.image-gallery-thumbnail {
  @include width(137);
  @include height(137);

  img {
    max-width: 100%;
  }
}

// Gallery styles ends here

.full-height {
  height: 100%;
}

// jumbotron fix
.jumbotron {
  padding: 0 2rem 4rem;
  @include mobile {
    padding: 0;
  }
}
// pagination fixes

.pagination {
  li {
    a {
      img {
        width: .8rem;
        margin-top: -2px;
      }
    }

    &.disabled {
      opacity: .5;
    }

    &.active {
      background-color: $secondary-color !important;
      @include borderRadius(5);

      a {
        color: $white;
      }
    }
  }
}

.rotate-left {
  transform: rotate(180deg);
}
// talk to poppup fix

.call-btn {

  background-color: $white;
  @include padding(19);
  border-radius: 50%;
  box-shadow: 6px 11px 32px 0 rgba(41, 26, 204, 0.12);
  cursor: pointer;
  
  img {
    @include width(80);
    @include height(80);
  }
}

.link-btn {
  background: transparent;
  border: none;
  color: #fff;
  padding: 0;
  cursor: pointer;
  @include fontSize(20.5);
  outline: none !important;
  font-family: $roboto-medium;
  opacity: .95;
  &:hover {
    text-decoration: underline;
  }
}

.slick-disabled {
  display: none !important;
}

.width100 {
  width: 100%;
}

a,
button {
  outline: none !important;
}

.wishlist-container {
  @include mobile {
    overflow: hidden;
  }
  div[class^="container"] {
    max-width: 90%;

    @include mobile {
      max-width: 100%;
      padding-left: 2.5rem;
      padding-right: 2.5rem;
    }
  }
}

//tooltip styles

.tooltip-inner {
  background-color: $primary-color;
  @include fontSize(13);
  font-family: $roboto-regular;
  @include padding(8);
}

.tooltip.bs-tooltip-top .arrow:before {
  border-top: 5px solid $primary-color;
}

.tooltip.bs-tooltip-right .arrow:before {
  border-right-color: $primary-color !important;
}

.justify-center {
  justify-content: center;
}

.row-reverse {
  flex-direction: row-reverse;
}

.flex {
  display: flex;
}

.goldPackage {
  margin-top: calc(-50px + -1.5rem);
  @include tablet {
    margin-top: calc(-50px - 6.6875rem);
  }

  /* Ahwanam styles */

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700 !important;
  }

  button {
    border: none;
  }

  button:focus {
    outline: none;
  }

  .msacwl-gallery-caption {
    display: none;
  }

  .msacwl-carousel-slide img.attachment-large,
  .msacwl-slide img.attachment-full {
    height: auto !important;
    -o-object-fit: fill;
    object-fit: fill;
  }

  .msacwl-gallery-carousel button.slick-next,
  .msacwl-gallery-carousel button.slick-next:focus,
  .msacwl-gallery-carousel button.slick-next:hover {
    background-size: contain !important;
  }

  .msacwl-gallery-carousel button.slick-prev,
  .msacwl-gallery-carousel button.slick-prev:focus,
  .msacwl-gallery-carousel button.slick-prev:hover {
    background-size: contain !important;
  }

  .msacwl-gallery-carousel button.slick-next {
    right: 50px;
  }

  .msacwl-gallery-carousel button.slick-prev {
    left: 50px;
  }

  .msacwl-gallery-carousel button.slick-arrow,
  .msacwl-gallery-slider button.slick-arrow {
    width: 50px !important;
    height: 50px !important;
    display: none !important;
  }

  .msacwl-carousel-slide a {
    height: auto !important;
  }

  .msacwl-gallery-carousel .slick-dots,
  .msacwl-gallery-slider .slick-dots {
    display: none !important;
  }

  .slick-initialized .slick-slide {
    margin: 0 5px !important;
  }

  .slick-slide img {
    max-width: 100%;
  }

  .column-image,
  .top-banner {
    border: 8px solid #fff;
  }

  .ahwanam-benefit-1,
  .ahwanam-benefit-2,
  .ahwanam-benefit-3,
  .benefit-wrap {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .ahwanam-benefit-1,
  .ahwanam-benefit-2,
  .ahwanam-benefit-3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .entry-header,
  .site-footer,
  .site-header {
    position: absolute !important;
    opacity: 0 !important;
    z-index: -1 !important;
    height: 0 !important;
    overflow: hidden !important;
  }

  .entry-content {
    width: 100%;
    margin: 0 !important;
    max-width: 100% !important;
    padding: 0 !important;
  }

  .entry-content * {
    margin: 0 !important;
  }
  @media only screen and (min-width: 768px) {
    .entry-content {
      max-width: 100% !important;
      margin: 0 !important;
      padding: 0 4rem !important;
    }
  }
  @media only screen and (min-width: 1280px) {
    .entry-content {
      padding: 0 9.375rem !important;
    }
  }
  @media only screen and (max-width: 767px) {
    html {
      font-size: 10px;
    }
  }
  @media only screen and (min-width: 768px) {
    html {
      font-size: 10px !important;
    }
  }
  @media only screen and (min-width: 1024px) {
    html {
      font-size: 12px !important;
    }
  }
  @media only screen and (min-width: 1280px) {
    html {
      font-size: 14px !important;
    }
  }
  @media only screen and (min-width: 1440px) {
    html {
      font-size: 16px !important;
    }
  }
  @media only screen and (min-width: 1850px) {
    html {
      font-size: 21px !important;
    }
  }

  .wp-ahwanam-container {
    position: relative;
    width: 100%;
    padding: 0 5%;
    margin: 0 auto !important;
  }
  @media only screen and (min-width: 768px) {
    .wp-ahwanam-container {
      font-size: 10px !important;
      width: 100%;
      max-width: 1920px;
      padding: 0;
    }
  }

  .wp-ahwanam-container h1 {
    margin: 1.5rem auto !important;
    letter-spacing: .6px;
    line-height: normal;
    text-align: center;
    font-size: 1.7875rem;
  }
  @media only screen and (min-width: 768px) {
    .wp-ahwanam-container h1 {
      font-size: 2.1875rem;
    }
  }

  .wp-ahwanam-container h1:before {
    background: none;
    content: '';
    height: 0;
  }

  .wp-ahwanam-container h4 {
    margin: 1.5rem auto !important;
    letter-spacing: .6px;
    line-height: normal;
    text-align: center;
    font-size: 1.7875rem;
  }
  @media only screen and (min-width: 768px) {
    .wp-ahwanam-container h4 {
      font-size: 2.1875rem;
    }
  }

  .wp-ahwanam-container h5 {
    font-size: 1.625rem;
    letter-spacing: .6px;
    line-height: normal;
    text-align: center;
    margin: 1.5rem 0 !important;
  }
  @media only screen and (min-width: 1024px) {
    .wp-ahwanam-container {
      font-size: 12px !important;
    }
  }
  @media only screen and (min-width: 1280px) {
    .wp-ahwanam-container {
      font-size: 14px !important;
    }
  }
  @media only screen and (min-width: 1920px) {
    .wp-ahwanam-container {
      font-size: 16px !important;
    }
  }
  @media only screen and (min-width: 768px) {
    .mobile-nav-btn {
      display: none;
    }
  }

  .btn-bar {
    width: 3.1rem;
    height: 5px;
    border-radius: 2px;
    background: #fd3a24;
    margin: 4px 0 !important;
  }

  .header-nav {
    height: 8.4375rem;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-height: 135px;
  }

  .header-nav a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .header-nav a img {
    z-index: 3;
    // width: 4.6875rem;
    // height: 4.6875rem;
    @include mobile {
      max-width: 75px !important;
    }
  }

  .header-nav ul {
    position: absolute;
    top: 8.4375rem;
    right: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    z-index: 4;
    list-style-type: none;
    background-color: #fff;
    padding: 0 2rem;
    border-top: 1px solid #fd3a24;
    border-bottom: 1px solid #fd3a24;
    display: none;
  }

  .header-nav ul li a {
    font-family: 'Work Sans', sans-serif;
    color: #787878;
    text-decoration: none !important;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  @media only screen and (min-width: 768px) {
    .header-nav ul {
      padding: 0;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      width: 50%;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      position: relative;
      top: auto;
      right: auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      border: none;
    }

    .header-nav ul li {
      list-style-type: none;
    }

    .header-nav ul li a {
      font-size: 1.2rem;
    }

    .header-nav ul li.active-item {
      background-color: #fd3a24;
      padding: 1px 25px;
      border-radius: 17.5px;
    }

    .header-nav ul li.active-item a {
      color: #fff;
    }
  }

  .left-cornor {
    background-color: #ffe8e6;
    width: 38.3125rem;
    height: 28.625rem;
    position: absolute;
    left: -9.375rem;
    top: 0;
    z-index: 0;
  }
  @media only screen and (max-width: 767px) {
    .left-cornor {
      display: none;
    }
  }

  .container {
    padding: 0;
    margin: 0 auto !important;
    max-width: 1920px;
  }

  .top-banner {
    width: 100%;
    z-index: 2;
  }

  .banner-wrap {
    position: relative;
    width: 100%;
    padding-bottom: 0;
  }
  @media only screen and (min-width: 768px) {
    .banner-wrap {
      padding-bottom: 3rem;
    }
  }

  .banner-caption {
    font-family: 'Work Sans', sans-serif;
    font-size: .75rem;
    font-weight: 600;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: .8px;
    text-transform: uppercase;
    color: #ffc14c;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 3;
    width: 80%;
  }

  .main-caption {
    margin-top: .5rem !important;
    max-width: 80%;
  }
  @media only screen and (min-width: 768px) {
    .main-caption {
      height: 3.4625rem;
    }
  }

  .bottom-corner {
    background-color: #fff8ea;
    width: 22.5625rem;
    height: 18.8125rem;
    position: absolute;
    right: -4.025rem;
    bottom: 0;
    z-index: -1;
  }
  @media only screen and (max-width: 767px) {
    .bottom-corner {
      display: none;
    }
  }
  @media only screen and (min-width: 1280px) {
    .bottom-corner {
      right: -9.375rem;
    }
  }

  .contact-wrap {
    position: relative;
    margin-bottom: 6rem !important;
  }

  .bottom-corner-contact {
    background-color: #fff8ea;
    width: 15.1875rem;
    height: 15.1875rem;
    position: absolute;
    right: -2.625rem;
    bottom: -2.625rem;
  }
  @media only screen and (max-width: 767px) {
    .bottom-corner-contact {
      right: -1.625rem;
    }
  }

  .column-wrap {
    margin-bottom: 2rem !important;
  }
  @media only screen and (min-width: 768px) {
    .column-wrap .col-md-6:first-child {
      padding-right: 3.25rem;
      padding-left: 0;
    }
  }
  @media only screen and (min-width: 768px) {
    .column-wrap .col-md-6:nth-child(2) {
      padding-left: 3.25rem;
      padding-right: 0;
    }
  }

  .column-wrap p {
    font-family: 'Work Sans', sans-serif;
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 1.47;
    letter-spacing: 1.2px;
    text-align: center;
  }
  @media only screen and (max-width: 767px) {
    .column-wrap p {
      padding-bottom: 1rem !important;
    }
  }
  @media only screen and (max-width: 767px) {
    .column-one {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
      flex-direction: column-reverse;
    }
  }
  @media only screen and (min-width: 768px) {
    .column-one {
      border-right: dashed 1px #a3a3a3;
      padding-top: 2rem;
    }
  }

  .column-image {
    width: 100%;
  }

  .image-wrapper {
    position: relative;
    margin: 2rem auto 1rem !important;
    padding: 0;
    width: 70%;
  }

  .img-corner-1 {
    background-color: #fff8ea;
    width: 27.4375rem;
    height: 27.4375rem;
    position: absolute;
    right: -1.125rem;
    top: -1.125rem;
    max-width: 80% !important;
    max-height: 80%;
    z-index: -1;
  }

  .img-corner-2 {
    background-color: #ffe8e6;
    width: 27.4375rem;
    height: 27.4375rem;
    position: absolute;
    left: -1.125rem;
    top: -1.125rem;
    max-width: 80% !important;
    max-height: 80%;
    z-index: -1;
  }

  .contact-corner {
    background-color: #ffe8e6;
    width: 19.1875rem;
    height: 17rem;
    position: absolute;
    left: -2.5rem;
    top: -2.6875rem;
    max-height: 80%;
    z-index: -1;
  }

  .address-section {
    width: 80%;
    position: absolute;
    top: 5.4375rem;
    z-index: 3;
    background: #fff;
    min-height: 4.375rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    left: 0;
  }

  .address-section img {
    height: 6rem;
  }
  @media only screen and (min-width: 768px) {
    .address-section {
      width: 15.6875rem;
      right: 4.375rem;
      left: auto;
    }

    // .address-section img {
    //   // height: 100%;
    // }
  }

  .img-corner-3 {
    background-color: #ffe8e6;
    width: 27.4375rem;
    height: 21.25rem;
    position: absolute;
    bottom: -0.225rem;
    left: -1.125rem;
    max-width: 80% !important;
    max-height: 80%;
    z-index: -1;
  }
  @media only screen and (min-width: 768px) {
    .img-corner-3 {
      right: -1.125rem;
      bottom: -1.125rem;
      left: auto;
    }
  }

  p {
    font-size: .9375em;
  }

  li {
    font-size: .875em;
  }

  .package-wrap {
    position: relative;
    margin-bottom: 1rem !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  @media only screen and (min-width: 768px) {
    .package-wrap {
      height: 40.0625rem;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      margin-bottom: 3rem !important;
    }
  }
  @media only screen and (min-width: 1024px) {
    .package-wrap {
      min-height: 40.0625rem;
    }
  }

  .package-card {
    position: relative;
    border-radius: 10px;
    height: 20.625rem;
    width: 31.3125rem;
    max-width: 31.3125rem;
    z-index: 1;
    padding: 0;
    background: url("/images/group-31.png") center center no-repeat;
    background-size: cover;
    margin-bottom: 3rem !important;
  }
  @media only screen and (min-width: 768px) {
    .package-card {
      position: absolute;
      top: 50%;
      left: 25%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      margin-bottom: 0 !important;
    }
  }

  .package-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    top: 1.9375rem;
    right: 1.5rem;
  }

  .package-logo img {
    width: 3.375rem;
    max-width: 54px;
  }

  .package-brand {
    font-size: 1.1875rem;
    font-weight: bold;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.2px;
    color: #fff;
    margin-left: .5rem !important;
  }

  .package-ring img {
    position: absolute;
    left: 2.0625rem;
    bottom: 1.75rem;
    width: 3.25rem;
    max-width: 52px;
  }

  .rotated-image {
    position: absolute;
    top: -6rem;
    left: -8rem;
    max-width: 100%;
  }

  .package-name {
    background-color: #e8e8e8;
    position: absolute;
    top: 1.3125rem;
    left: 0;
    width: 17.4375rem;
    color: #fd3a24;
    font-family: 'Roboto Condensed', sans-serif;
    font-stretch: condensed;
    letter-spacing: 3px;
    height: 4.8125rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 1.125rem;
    line-height: 1.39;
    padding: 0 2rem;
  }

  .package-name b {
    letter-spacing: 4.8px;
    font-size: 1.3125rem;
  }

  .package-name:after {
    content: '';
    position: absolute;
    right: -1.49rem;
    top: 0;
    height: 0;
    width: 0;
    border-left: 1.5rem solid #e8e8e8;
    border-bottom: 4.8125rem solid transparent;
  }

  .original-price {
    text-decoration: line-through;
    font-size: 1.125rem;
    font-family: 'Work Sans', sans-serif;
  }

  .offer-price {
    font-size: 1.9375rem;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
  }

  .center-content {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
  }

  .package-save {
    width: 23.5625rem;
    height: 3.8125rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    background-color: #e8e8e8;
    position: absolute;
    bottom: 1.7375rem;
    right: 0;
    font-size: 1.75rem;
    color: #fd3a24;
    font-family: 'Roboto Condensed', sans-serif;
    font-stretch: condensed;
    font-weight: bold;
    line-height: .89;
    letter-spacing: 1.5px;
    padding-left: 1.5rem;
  }

  .package-save:before {
    content: '';
    position: absolute;
    left: -1.49rem;
    top: 0;
    height: 0;
    width: 0;
    border-right: 1.5rem solid #e8e8e8;
    border-bottom: 3.8125rem solid transparent;
  }

  .card-shadow {
    position: absolute;
    bottom: -.8rem;
    height: 1.1875rem;
    width: 90%;
    left: 5%;
    border-radius: 20.5px;
    -webkit-filter: blur(23px);
    filter: blur(23px);
    background-color: #000000;
    opacity: .7;
    z-index: -1;
  }

  .package-desc {
    background: url("/images/group-344.png") right bottom no-repeat;
    background-color: #ffe8e6;
    background-size: contain;
    height: 100%;
    padding: 1.5rem 3rem;
    width: 110%;
  }
  @media only screen and (min-width: 768px) {
    .package-desc {
      position: absolute;
      padding: 1rem 3.5rem 2rem 9rem;
      width: calc(50% + 4rem + 11.425rem);
      max-width: 56.75rem;
      height: auto;
      left: calc(50% - 11.625rem);
    }
  }
  @media only screen and (min-width: 1024px) {
    .package-desc {
      padding: 1rem 3.5rem 2rem 6.5rem;
      height: auto;
      width: calc(50% + 9.4rem + 6.125rem);
    }
  }
  @media only screen and (min-width: 1280px) {
    .package-desc {
      padding: 1rem 3.5rem 2rem 9.5rem;
      width: calc(50% + 9.4rem + 11.425rem);
    }
  }
  @media only screen and (min-width: 1850px) {
    .package-desc {
      padding: 1rem 3.5rem 2rem 11.5rem;
    }
  }

  .package-desc ul li {
    font-family: 'Work Sans', sans-serif;
    font-size: 1.0625rem;
    line-height: 2.21;
    letter-spacing: .4px;
    color: #282828;
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
  }

  .package-desc ul li:before {
    content: '';
    width: .9375rem;
    height: 10px;
    position: absolute;
    left: -1.5rem;
    top: .8rem;
    background: url("/images/list-icon.png") center center no-repeat;
    background-size: contain;
  }

  .column-wrap ul li {
    font-family: 'Work Sans', sans-serif;
    font-size: 1.0625rem;
    font-weight: 300;
    line-height: 2.21;
    letter-spacing: .4px;
    list-style-type: none;
    position: relative;
  }

  .column-wrap ul li:before {
    content: '';
    width: .9375rem;
    height: 10px;
    position: absolute;
    left: -1.5rem;
    top: .8rem;
    background: url("/images/list-icon.png") center center no-repeat;
    background-size: contain;
  }

  .get-package-btn {
    background-color: #fd3a24;
    border-radius: 1.09375rem;
    min-width: 8.3125rem;
    margin-top: 1rem !important;
    font-family: 'Work Sans', sans-serif;
    letter-spacing: .9px;
    font-size: .6875rem;
    font-weight: 500;
    text-transform: uppercase;
    height: 2.1875rem;
    color: #fff;
    cursor: pointer;
  }

  .ahwanam-benefit-1,
  .ahwanam-benefit-2,
  .ahwanam-benefit-3 {
    width: 80%;
    height: 13.75rem;
    margin: 1rem 0 !important;
    font-size: 1.3125rem;
    text-transform: uppercase;
    padding: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    font-weight: bold;
    color: #fff;
  }
  @media only screen and (min-width: 768px) {
    .ahwanam-benefit-1,
    .ahwanam-benefit-2,
    .ahwanam-benefit-3 {
      width: 18.75rem;
      max-width: 20%;
      margin: 0 1.9375rem !important;
    }
  }
  @media only screen and (min-width: 1024px) {
    .ahwanam-benefit-1,
    .ahwanam-benefit-2,
    .ahwanam-benefit-3 {
      margin: 0 2.9375rem !important;
    }
  }

  .ahwanam-benefit-1 p,
  .ahwanam-benefit-2 p,
  .ahwanam-benefit-3 p {
    font-size: 1.125rem;
    font-family: 'Work Sans', sans-serif;
    font-weight: normal;
    line-height: 1.43;
    letter-spacing: .3px;
    text-transform: none !important;
  }

  .benefit-wrap {
    margin: 0 0 6rem !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  @media only screen and (min-width: 768px) {
    .benefit-wrap {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      margin: 1rem 0 6rem !important;
    }
  }

  .ahwanam-benefit-1 {
    background: url("/images/ahwanam-1.png") center center no-repeat;
    background-size: cover;
    background-color: #ffc14c;
  }
  @media only screen and (min-width: 768px) {
    .ahwanam-benefit-1 {
      margin-left: 0 !important;
    }
  }

  .ahwanam-benefit-2 {
    background: url("/images/ahwanam-2.png") center center no-repeat;
    background-size: cover;
    background-color: #fd3a24;
  }

  .ahwanam-benefit-3 {
    background: url("/images/ahwanam-3.png") center center no-repeat;
    background-size: cover;
    background-color: #ffc14c;
  }
  @media only screen and (min-width: 768px) {
    .ahwanam-benefit-3 {
      margin-right: 0 !important;
    }
  }

  .first-one {
    position: relative;
  }

  .first-one:before {
    background: url("/images/ring-1.png") center center no-repeat;
    content: '';
    position: absolute;
    top: 50%;
    right: calc(-3.25rem - .75rem);
    width: 1.5rem;
    height: 1.5rem;
    background-size: contain;
    background-color: #fff;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  @media only screen and (max-width: 767px) {
    .first-one:before {
      display: none;
    }
  }

  .third-one {
    position: relative;
  }

  .third-one:before {
    background: url("/images/necklace.png") center center no-repeat;
    content: '';
    position: absolute;
    top: 50%;
    left: calc(-3.25rem - .85rem);
    width: 1.5rem;
    height: 1.5rem;
    background-size: contain;
    background-color: #fff;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  @media only screen and (max-width: 767px) {
    .third-one:before {
      display: none;
    }
  }

  .second-one {
    position: relative;
  }

  .second-one:before {
    background: url("/images/heart.png") center center no-repeat;
    content: '';
    position: absolute;
    top: 50%;
    left: calc(-3.25rem - .75rem);
    width: 1.5rem;
    height: 1.5rem;
    background-size: contain;
    background-color: #fff;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  @media only screen and (max-width: 767px) {
    .second-one:before {
      display: none;
    }
  }

  .description {
    font-family: 'Work Sans', sans-serif;
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 1.47;
    letter-spacing: 1.2px;
    text-align: center;
    margin-bottom: 1rem !important;
  }
  @media only screen and (min-width: 768px) {
    .description {
      margin-bottom: 3rem !important;
    }
  }

  .contact-form {
    -webkit-box-shadow: 0 8px 18px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 8px 18px 0 rgba(0, 0, 0, 0.15);
    padding: 0 4.375em 2rem;
    position: relative;
    z-index: 2;
    background: url("/images/group-344.png") center bottom no-repeat;
    background-color: #fff;
    background-size: contain;
  }

  .contact-form input {
    width: 100%;
    margin: 5px 0 !important;
    height: 2.5rem;
    font-family: 'Work Sans', sans-serif;
    font-size: 1rem;
    color: #282828;
    font-weight: normal;
    max-width: 100% !important;
    padding: 1px 10px;
    border: 1px solid #e7e7e7;
  }

  .contact-form input[type="date"] {
    border: 1px solid #e7e7e7;
  }

  .contact-form .get-package {
    background-color: #fd3a24 !important;
    border-radius: 1.09375rem !important;
    width: 8.3125rem;
    margin-top: 1rem !important;
    font-family: 'Work Sans', sans-serif;
    letter-spacing: .9px;
    font-size: .9rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff !important;
    border: none;
    height: 2.1875rem;
  }

  .contact-form textarea {
    margin: 5px 0 !important;
    font-family: 'Work Sans', sans-serif;
    font-size: 1rem;
    color: #282828;
    font-weight: normal;
    height: 8.1875rem;
    width: 100%;
    padding: 1px 10px;
    border: 1px solid #e7e7e7;
  }
  @media only screen and (max-width: 767px) {
    .contact-form .col-md-6 {
      padding: 0;
    }
  }

  .wpforms-submit-container {
    text-align: center;
  }

  .no-padding {
    padding: 0 !important;
  }
  @media only screen and (min-width: 768px) {
    .no-left-padding {
      padding-left: 0 !important;
    }
  }
  @media only screen and (min-width: 768px) {
    .no-right-padding {
      padding-right: 0 !important;
    }
  }

  .footer-ahwanam {
    height: 8.625rem;
    width: 100%;
    background-color: #f8f8f8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .footer-ahwanam h5 {
    margin: 0 0 .5rem !important;
  }

  .footer-ahwanam p {
    color: #787878;
    font-family: 'Work Sans', sans-serif;
    font-size: .625rem;
    line-height: 1.6;
    letter-spacing: .2px;
    font-weight: 300;
    text-align: center;
  }

  .footer-ahwanam a {
    font-family: 'Work Sans', sans-serif;
    font-size: .875rem;
    text-decoration: none !important;
    color: #787878 !important;
  }
  @media only screen and (min-width: 768px) {
    .footer-ahwanam {
      width: calc(100% + 8rem);
      margin: 0 -4rem !important;
    }
  }
  @media only screen and (min-width: 1280px) {
    .footer-ahwanam {
      width: calc(100% + 18.75rem);
      margin: 0 -9.375rem !important;
    }
  }

  .social-icon-wp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .social-icon-wp img {
    min-width: 12px;
    width: .75rem;
    margin: .5rem !important;
  }

  .google-map {
    width: 100%;
    height: auto;
  }

  .office-address {
    padding: 8px 10px;
  }

  .office-address p {
    font-family: 'Work Sans', sans-serif;
    color: #787878;
    font-size: .5625rem;
    line-height: 1.44;
  }

  .address-heading {
    font-weight: bold;
    font-size: .75rem;
    color: #fd3a24;
  }

  .contact-details {
    margin-bottom: 2rem !important;
  }

  .contact-details img {
    width: 4.6875rem;
    max-width: 75px;
    margin-bottom: 1rem !important;
  }

  .contact-details h6 {
    font-size: 1.1875rem;
    font-weight: bold;
    color: #282828;
  }

  .contact-details p {
    font-family: 'Work Sans', sans-serif;
    font-size: 1.0625rem;
    color: #787878;
    line-height: 1.43;
  }

  .ah-gallery {
    margin-bottom: 2rem !important;
  }

  .ah-contactus .image-wrapper {
    margin-top: 0 !important;
  }

  div.wpforms-container-full .wpforms-form .wpforms-field {
    padding: 5px 0 !important;
  }

  .alert-popup {
    font-family: 'Work Sans', sans-serif;
    width: 40%;
    position: fixed;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 3;
    display: none;
    background-color: #f8f8f8;
    -webkit-box-shadow: 0 8px 18px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 8px 18px 0 rgba(0, 0, 0, 0.15);
  }

  /* Ahwanam styles */
}

.emeraldPackage {
  margin-top: calc(-50px + -1.5rem);
  @include tablet {
    margin-top: calc(-50px - 6.6875rem);
  }

  * {
    margin: 0;
    padding: 0;
  }
  // .wrapper {}
  .header:after {
    content: "";
    display: table;
    clear: both;
  }

  // .header {}
  .header-top:after {
    content: "";
    display: table;
    clear: both;
  }

  .header-top {
    padding: 26px 47px;
    z-index: 9;
  }

  .logo {
    width: 280px;
    position: relative;
    z-index: 99;
    display: block;
  }

  .logo img {
    width: 50%;
  }

  // /*-------banner----------*/
  .banner {
    margin-top: -350px;
    // /*--------113px;----------*/
    position: relative;
  }

  .banner img {
    width: 100%;
    display: block;
    height: 713px;
  }

  .banner:after {
    content: "";
    display: block;
    clear: both;
    background: #0000006e;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  // /*--------body----------*/
  .main-top:after {
    content: "";
    display: table;
    clear: both;
  }

  .contain {
    position: absolute;
    top: 134px;
    width: 100%;
  }

  .contain h2 {
    width: 48%;
    margin: 0 auto;
  }

  .contain h2 img {
    width: 100%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    font-family: 'Quicksand', sans-serif;
  }

  a {
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    text-decoration: none;
  }

  .container {
    max-width: 1055px;
    margin: 0 auto;
    width: 100%;
  }

  .package-review-tab:after {
    content: "";
    display: table;
    clear: both;
  }

  .package-review-tab .tabs {
    // float: left;
    width: 35%;
  }

  .package-review-tab .tabs li {
    list-style: none;
    background: #b36ae2;
    overflow: hidden;
  }

  .package-review-tab .tabs li .title {
    font-size: 18px;
    font-weight: 700;
  }

  .package-review-tab .tabs li {
    color: #fff;
    padding: 19px 30px;
    display: block;
  }

  .package-review-tab .tabs li ul li {
    padding: 0;
    float: left;
    line-height: 12px;
    margin-bottom: 5px;
    border-right: 1px solid #fff;
    margin-right: 5px;
    padding-right: 5px;
    font-size: 13px;
    font-weight: 500;
    background: transparent;
  }

  .package-review-tab .tabs li ul li:last-child {
    margin-right: 0;
    border-right: 0;
    padding-right: 0;
  }

  .package-review-tab .tab_container {
    position: relative;
    // float: left;
    width: 65%;
    background: #5f327c;
    min-height: 231px;
    padding: 5% 10% 0;
    color: #fff;
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
  }

  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 30px;
  }

  h4 {
    font-size: 20px;
  }

  .package-review-tab .tabs li h4 {
    margin-bottom: 10px;
    font-size: 18px;
  }

  .package-review-tab .tabs li.active {
    background: #753a80;
  }

  .package-review-tab {
    margin-top: -149px;
    position: relative;
  }

  .after-tab-outer .aftr-tab-left {
    min-height: 148px;
    float: left;
    width: 45.3%;
    margin-right: .6%;
    border: 1px solid #85518e;
    text-align: center;
    padding: 2%;
  }

  .after-tab-outer .aftr-tab-right {
    float: left;
    width: 45.3%;
    margin-left: .6%;
    background: #6e4685;
    text-align: center;
    padding: 2%;
    color: #fff;
  }

  .after-tab-outer:after {
    content: "";
    display: table;
    clear: both;
  }

  .after-tab-outer {
    margin-top: 9px;
  }

  .after-tab-outer .aftr-tab-color3 {
    color: #773f9b;
    font-size: 35px;
    margin-bottom: 10px;
    margin-top: 8px;
  }

  .after-tab-outer .aftr-tab-color2 {
    color: #ff0c0c;
    font-size: 22px;
    margin-bottom: 10px;
  }

  .after-tab-outer .aftr-tab-left p.orginal-price {
    font-weight: 700;
    color: #000;
    font-size: 17px;
    margin-top: 14px;
    position: relative;
  }

  .after-tab-outer .aftr-tab-left p.orginal-price:after {
    content: "";
    display: block;
    clear: both;
    height: 2px;
    width: 50%;
    position: absolute;
    left: 50%;
    width: 300px;
    top: 50%;
    transform: translate(-50%, 0%) !important;
    background: #c82506;
  }

  .after-tab-outer .aftr-tab-right h4 {
    margin-bottom: 15px;
  }

  .after-tab-outer .aftr-tab-right p {
    font-size: 16px;
    margin-bottom: 6px;
    margin-top: 8px;
  }

  .after-tab-outer .aftr-tab-right input[ type="text"] {
    display: inline-block;
    width: 103px;
    height: 28px;
    border-bottom: 2px solid #3c2649;
    border: 0;
    font-size: 13px;
    padding-left: 5px;
    margin: 0 3px;
  }

  .after-tab-outer .aftr-tab-right input[ type="submit"] {
    width: 74px;
    height: 28px;
    background: #b36ae2;
    color: #fff;
    border: 0;
    box-shadow: 0 0 10px #0000006e;
    outline: 0;
    cursor: pointer;
  }

  .after-tab-outer .aftr-tab-right input[ type="submit"]:hover {
    opacity: .9;
    filter: alpha(opacity=90);
  }

  .after-tab-outer .aftr-tab-right .frm-con {
    margin-top: 7px;
    font-size: 12px;
    margin-bottom: 5px;
  }

  .WHY-AHW-outer {
    margin-top: 50px;
    margin-bottom: 30px;
  }

  .WHY-AHW-outer span {
    display: block;
    color: #704283;
  }

  .WHY-AHW-outer span.why {
    font-size: 40px;
    margin-bottom: 0;
  }

  .WHY-AHW-outer span.ahw {
    border-bottom: 2px solid #704283;
    padding-bottom: 20px;
    width: 340px;
    margin-bottom: 50px;
    font-size: 50px;
  }

  .WHY-AHW-outer .why-awh1 {
    float: left;
    width: 30%;
    margin-right: 5%;
  }

  .WHY-AHW-outer .why-awh1:last-child {
    margin-right: 0;
  }

  .WHY-AHW-outer:after {
    content: "";
    display: table;
    clear: both;
  }

  .WHY-AHW-outer .why-awh1 .awhh1 {
    float: left;
    width: 118px;
    height: 118px;
    border-radius: 100%;
    border: 2px solid #704283;
    margin-right: 20px;
  }

  .WHY-AHW-outer .why-awh1 h4 {
    margin-bottom: 5px;
  }

  .WHY-AHW-outer .why-awh1 .awhh11 {
    float: left;
    width: 54%;
    font-size: 15px;
    font-weight: 700;
    margin-top: 7px;
  }

  .shape-up-folw-outer {
    background: url("/images/bg-img-follow.png") no-repeat 0 0;
    width: 100%;
    height: 252px;
    background-size: cover;
    position: relative;
  }

  .shape-up-folw-outer .floow-link {
    display: block;
    position: absolute;
    bottom: 17px;
    background: #fff url("/images/fb-link.png") no-repeat 87% 50%;
    color: #4b6bc7;
    width: 193px;
    font-weight: 700;
    height: 42px;
    line-height: 42px;
    padding: 0 24px;
    left: 50px;
    border-radius: 15px;
    box-shadow: 0 0 10px #000000b8;
  }

  .shape-up-folw-outer .floow-link:hover {
    opacity: .9;
  }

  .tab-con-iner li h4 {
    margin-bottom: 25px;
    border-bottom: 1px solid #fff;
    display: inline-block;
    padding-right: 66px;
    font-size: 30px;
    font-weight: 500;
    padding-bottom: 20px;
  }

  .bx-default-pager .bx-pager-item {
    display: inline-block;
  }

  .bx-default-pager {
    text-align: center;
    margin-top: 25px;
  }

  .bx-default-pager .bx-pager-item a {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border: 1px solid #fff;
    background: #fff;
    display: block;
    text-indent: 99px;
    overflow: hidden;
    margin-right: 9px;
  }

  .bx-prev {
    position: absolute;
    top: 42%;
    left: 35px;
    background: url("/images/pre.png") no-repeat;
    height: 33px;
    width: 33px;
    text-indent: 99px;
    overflow: hidden;
  }

  .bx-next {
    position: absolute;
    top: 42%;
    right: 35px;
    background: url("/images/next.png") no-repeat;
    height: 33px;
    width: 33px;
    text-indent: 99px;
    overflow: hidden;
  }

  .em-wed {
    text-align: center;
    padding-top: 0;
  }

  .frm-con1 {
    font-weight: 700;
  }

  .em-wed img {
    width: 60%;
  }

  .tab_container .bx-viewport {
    height: auto !important;
  }

  .tab_container .tab-con-iner li p {
    font-size: 18px;
    font-weight: 300;
    text-align: left;
    padding-left: 19px;
    position: relative;
  }

  .tab_container .tab-con-iner li p:after {
    content: "";
    display: block;
    clear: both;
    height: 10px;
    width: 10px;
    position: absolute;
    top: 6px;
    left: -1px;
    background: url("/images/circle.png") no-repeat;
    background-size: 100%;
  }

  .wed-slider img {
    width: 100%;
  }

  .awhh1 p img {
    border-radius: 100%;
  }

  .tab-con-iner li {
    list-style: none;
  }

  .gom-pro {
    margin-top: 50px;
  }

  .for-mob {
    display: none;
  }

  .active {
    background: #753a80;
    display: block;
  }
  // /*------footer------*/
  .footer-sh {
    text-align: center;
    padding: 20px 0;
  }

  .footer-sh p {
    color: #4a4949;
    font-size: 11px;
    font-weight: 500;
    margin-bottom: 5px;
  }

  .footer-cms a {
    color: #4a4949;
    font-size: 11px;
    font-weight: 500;
    border-right: 1px solid #4a4949;
    margin-right: 5px;
    padding-right: 5px;
    line-height: 8px;
    display: inline-block;
    text-decoration: underline;
  }

  .footer-cms a:last-child {
    border-right: 0;
  }

  .footer-cms a:hover {
    text-decoration: none;
  }

  // /*----------media quary resposive-------*/
  @media (max-width: 1380px) and (min-width: 1359px) {
    .package-review-tab {
      margin-top: -152px;
    }
  }
  @media (max-width: 1360px) and (min-width: 1199px) {
    .package-review-tab {
      margin-top: -123px;
    }
  }
  @media (max-width: 1200px) and (min-width: 1198px) {
    .package-review-tab {
      margin-top: -120px;
    }
  }
  @media (max-width: 1199px) and (min-width: 992px) {
    .contain h2 {
      margin: -111px auto;
    }

    .container {
      max-width: 970px;
    }

    .contain {
      top: 278px;
    }

    .package-review-tab .tab_container {
      padding: 4% 11% 24px;
      width: 47%;
      min-height: 213px;
    }

    .WHY-AHW-outer .why-awh1 .awhh1 {
      width: 108px;
      height: 108px;
    }

    .WHY-AHW-outer {
      margin-bottom: 0;
    }

    .awhh1 p img {
      width: 108px;
    }

    .banner img {
      height: auto;
    }

    .package-review-tab .tabs li h4 {
      font-size: 17px;
    }

    .package-review-tab {
      margin-top: -118px;
    }
  }
  @media only screen and (max-width: 991px) and (min-width: 768px) {
    .container {
      max-width: 750px;
    }

    .contain {
      top: 110px;
    }

    .banner {
      margin-top: -298px;
    }

    .package-review-tab .tabs li .title {
      font-size: 17px;
    }

    .contain h2 {
      font-size: 51px;
    }

    .package-review-tab .tab_container {
      padding: 3% 12% 36px;
      width: 37%;
      min-height: 213px;
    }

    .package-review-tab .tabs {
      width: 38%;
    }

    .em-wed img {
      width: 83%;
    }

    .after-tab-outer .aftr-tab-left {
      width: 96%;
      margin-right: 0;
      float: none;
    }

    .after-tab-outer .aftr-tab-right {
      margin-top: 5px;
      padding: 2% 16px;
      width: 96%;
      margin-left: 0;
    }

    .WHY-AHW-outer .why-awh1 .awhh1 {
      float: none;
      width: 80px;
      height: 80px;
      margin: 0 auto;
    }

    .WHY-AHW-outer .why-awh1 .awhh11 {
      text-align: center;
      width: 100%;
    }

    .awhh11 p {
      font-size: 12px;
    }

    .WHY-AHW-outer .why-awh1 h4 {
      font-size: 14px;
    }

    .WHY-AHW-outer span.ahw {
      font-size: 40px;
    }

    .WHY-AHW-outer {
      margin-bottom: 0;
    }

    .tab-con-iner li h4 {
      font-size: 22px;
    }

    .em-wed {
      padding-top: 53px;
    }

    .package-review-tab {
      margin-top: -60px;
    }

    .gom-pro {
      margin-top: 97px;
    }

    .awhh1 p img {
      width: 80px;
    }

    .banner img {
      height: auto;
    }

    .package-review-tab .tabs li h4 {
      font-size: 16px;
    }

  }
  @media only screen and (max-width: 767px) {
    .header-top {
      padding: 7px 47px;
    }

    .logo {
      width: 170px;
      margin: 0 auto;
    }

    .banner {
      margin-top: -53px;
    }

    .package-review-tab {
      margin-top: -37px;
    }

    .package-review-tab .tabs {
      float: none;
      width: 100%;
    }

    .package-review-tab .tab_container {
      width: 80%;
      float: none;
      min-height: auto;
      padding-bottom: 20px;
    }

    .em-wed img {
      width: 100%;
    }

    .container {
      width: 94%;
      max-width: 100%;
      padding: 0 3%;
    }

    .contain {
      top: 159px;
      width: 100%;
    }

    .contain h2 {
      font-size: 26px;
      width: 56%;
    }

    .after-tab-outer .aftr-tab-left {
      float: none;
      width: 100%;
      padding: 2% 0;
    }

    .after-tab-outer .aftr-tab-right {
      float: none;
      width: 96%;
      margin-top: 10px;
      padding: 5% 2%;
    }

    .after-tab-outer .aftr-tab-right input[ type="text"] {
      width: 94px;
    }

    .after-tab-outer .aftr-tab-right input[ type="submit"] {
      width: 53%;
      display: block;
      margin: 8px auto 0;
    }

    .WHY-AHW-outer {
      margin-top: 25px;
    }

    .WHY-AHW-outer span.why {
      font-size: 25px;
    }

    .WHY-AHW-outer span.ahw {
      font-size: 30px;
    }

    .WHY-AHW-outer .why-awh1 {
      width: 100%;
      margin-right: 0;
      float: none;
      overflow: hidden;
      margin-bottom: 30px;
    }

    .shape-up-folw-outer {
      height: 122px;
    }

    .shape-up-folw-outer .floow-link {
      width: 40px;
      height: 34px;
      border-radius: 5px;
      text-indent: 99px;
      overflow: hidden;
      background-position: 56% 50%;
      bottom: 7px;
      right: 13px;
      left: inherit;
    }

    .wed-slider img {
      width: 100%;
    }

    .bx-prev {
      left: 10px;
    }

    .bx-next {
      right: 10px;
    }

    .gom-pro {
      margin-top: -10px;
    }

    .banner img {
      height: auto;
    }

  }
  @media only screen and (max-width: 480px) {
    .package-review-tab .tabs li .title {
      font-size: 16px;
    }

    .package-review-tab .tabs li h4 {
      font-size: 16px;
    }

    .package-review-tab .tabs li {
      padding: 0;
    }

    .bx-prev {
      left: 4px;
      height: 20px;
      background-size: 100%;
      width: 20px;
      top: 34%;
    }

    .bx-next {
      right: 4px;
      height: 20px;
      background-size: 100%;
      width: 20px;
      top: 34%;
    }

    .after-tab-outer .aftr-tab-color3 {
      font-size: 25px;
    }

    .after-tab-outer .aftr-tab-color2 {
      font-size: 17px;
    }

    .after-tab-outer .aftr-tab-left p.orginal-price {
      font-size: 13px;
    }

    .after-tab-outer .aftr-tab-left p.orginal-price:after {
      height: 1px;
      width: 200px;
    }

    .after-tab-outer .aftr-tab-right input[ type="submit"] {
      width: 94%;
    }

    .shape-up-folw-outer {
      height: 68px;
    }

    .footer-sh {
      padding: 10px 0;
    }

    .contain {
      top: 64px;
    }

    .tab_container .tab-con-iner li p {
      font-size: 11px;
    }

    .after-tab-outer .aftr-tab-right .frm-con {
      font-size: 9px;
    }

    .awhh11 p {
      font-size: 11px;
    }

    .awhh11 h4 {
      font-size: 15px;
    }

    .WHY-AHW-outer .why-awh1 .awhh11 {
      width: 62%;
    }

    .WHY-AHW-outer .why-awh1 .awhh1 {
      width: 100px;
      height: 100px;
    }

    .tab_container .tab-con-iner li p:after {
      top: 3px;
      height: 8px;
      width: 8px;
    }

    .contain h2 {
      width: 62%;
      margin-top: 28px;
      padding: 6px;
    }

    .gom-pro {
      margin-top: 9px;
    }

    .awhh1 p img {
      width: 100px;
    }

    .after-tab-outer .aftr-tab-right input[ type="submit"] {
      font-size: 15px;
    }

    .frm-con1 {
      font-size: 13px;
    }

    .banner img {
      height: auto;
    }

    .banner:after {
      height: 100%;
    }
  }

  .slider-outer {
    padding: 0 20px;
  }
}

.pulsateRing {
  border: 2px solid $secondary-color;
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  position: absolute;
  animation: pulsate 1.5s ease-out;
  animation-iteration-count: infinite; 
  opacity: 0.0
}
@keyframes pulsate {
  0% {opacity: 0.0;}
  50% {opacity: 1.0;}
  100% {transform: scale(1.5, 1.5); opacity: 0.0;}
}
.navbar-brand {
  padding:  0 !important;
}