/* Custom styles goes here */

.navbar-toggler {
    background: url('/images/nav-icon.svg') center center no-repeat;
    z-index: 3;
    top: -3.8rem;
    right: 1rem
}

.navbar-toggler.close-nav {
    background: url('/images/close-nav.svg') center center no-repeat;
    background-size: contain;
}

.navbar-toggler:focus {
    outline: none;
}

.modal-dialog {
    max-width: 80% !important;
}

.no-padding {
    padding: 0 !important;
}

@media only screen and (max-width: 767px) {
    .jumbotron {
        text-align: center;
    }
}