/* Custom styles goes here */


.navbar-toggler:focus {
    outline: none;
}


.no-padding {
    padding: 0 !important;
}

@media only screen and (max-width: 767px) {
    .jumbotron {
        text-align: center;
    }
}
.modal-dialog {
    max-width: 80%;
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
    .navbar-nav .nav-link{
        margin: 0 !important;
    }
}
