@import '../../variables/colors';
@import '../../variables/utils';
@import '../../variables/fonts';

.slider-item {
  padding: 1.4rem;
  @include width(360);
}

.slider-wrap {
  width: 100%;
  display: flex;
  align-items: center;
}

.vendor-image {
  @include width(114.3);
  @include height(80);
}

.category-name {
  font-family: $roboto-medium;
  @include fontSize(20);
  color: $black;
  opacity: .7;
  cursor: pointer;

}

.add-new {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: $primary-color-25;
  border: 1px dashed $secondary-color;
  // @include width(403);
  width: auto;
  @include height(362);
  @include borderRadius(18);
  @include margin(16,0);
  @include fontSize(24);
  opacity: .3;
  color: $primary-color;
}
