@import '../../variables/colors';
@import '../../variables/utils';
@import '../../variables/fonts';
@import '../../variables/breakpoints';

.profileContainer {
    margin: 0 auto;
    margin-top: 15rem;
    margin-bottom: 8rem;
    @include width(382);
    
    @include mobile {
        margin-top: 7rem;
        margin-bottom: 4rem;
    }
}
.error {
    @include fontSize(15);
    color: $bright-red;
    margin-top: .5rem;
    position: absolute;
    left: 0;
    right: 0;
  }