@import '../../variables/colors';
@import '../../variables/fonts';
@import '../../variables/utils';

.large {

  .star-img {
    @include width(17.4);
    height: auto;
  }
  @include tablet {
  margin-bottom: 1rem;

    .star-img {
      @include width(27.4);

    }

  }
}

.small {
  margin-bottom: 1rem;

  .star-img {
    @include height(12);
    width: auto;
  }
}
