@import '../../variables/colors';
@import '../../variables/utils';
@import '../../variables/fonts';
@import '../../variables/breakpoints';

.category-cover {
  @include height(450);
  @include margin(97,0,0);

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  }

  h1 {
    @include fontSize(51);
    @include letterSpacing(1.5);
  }
}

.imageHeading {
  text-align: center;

  @include mobile {
    margin-top: 2rem;
  }
}

.sideHeading {
  @include fontSize(20);
  font-family: $frank-regular;
  letter-spacing: .6px;
  color: $black-twelve;
  text-align: left;

  span {
    @include fontSize(18);
    font-family: $roboto-regular;
  }
}

.sort {
  @extend .sideHeading;
  @include fontSize(14);
  text-align: right;
  @include mobile {
    text-align: left;
  }
}

// refined form styles

.formContainer {
  width: max-content;
  margin: -41px auto 0;
  display: flex;

  .dropContainer {
    box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.3);
    display: flex;
    flex-wrap: nowrap;
    background-color: white;
    justify-content: center;
    display: flex;
    border-radius: 5px;
    z-index: 1;
    border-radius: 5px;
    @include height(60);
  }

  .selectContainer {
    margin: 0;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    padding-right: 1rem;
    padding-bottom: .5rem;

    &:last-child {
      border-right: none;
    }

    .label {
      display: block;
      @include fontSize(10);
      letter-spacing: .3px;
      font-family: $roboto-regular;
      color: #868585;
      text-transform: uppercase;
      @include padding(12,16,0);
      margin-bottom: 0;
    }

    .select {
      border: 0;
      font-family: $roboto-regular;
      @include fontSize(16);
      height: auto;
      padding: 0 2rem 0 1rem;
      background: url('/images/filter-dropdown.png') right no-repeat;
      -webkit-appearance: none;

      &:focus {
        box-shadow: none;
      }
    }
  }

  .searchButton {
    padding: .75rem 2rem;
    z-index: 1;
    margin-left: 1.5rem;
    border-radius: 5px;
    box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.3);
    background-size: 10px;
    background: url("/images/filter-search-icon.png") center center no-repeat $primary-color;
    border: none;
    @include width(70);
    @include height(60);
  }
}

// form styles

.bgSunYellow {
  background-color: $sun-yellow;
}

.catFormGroup {
  width: 100%;
  @include hd {
    width: max-content;
  }

  span {
    @include fontSize(18);
    font-family: $roboto-regular;
    margin-right: 2.5rem;
  }
}

.catSelect {
  border: 0;
  color: #070707;
  border-radius: 0;

  outline: none;
  box-shadow: none;
  @include fontSize(18);
  width: auto;
  height: 1.5rem;
  padding: 0 1.5rem 0 0;
  margin-right: 2.5rem;
  letter-spacing: .5px;

  background-color: inherit;
  background: url('/images/filter-dropdown.png') right no-repeat;
  -webkit-appearance: none;

  &:focus {
    box-shadow: none;
    border: 0;
    background-color: $sun-yellow;
  }
}

.sortSelect {
  @extend .catSelect;
  @include fontSize(14);
  font-family: $roboto-regular;

  &:focus {
    background-color: $white;
  }

}

.catButton {
  font-family: $roboto-bold;
  @include fontSize(16);
  @include padding(12,24);
  border-radius: 3px;
  text-transform: uppercase;
  color: $black;
  @include hd {
    margin-top: -1.6rem;
  }
}

.listContainer {
  @media only screen and (min-width: 992px) {
    max-width: 750px;
  }
  @include hd {
    max-width: 890px;
  }
  @include hdPlus {
    max-width: 1200px;
  }
}

.multiDropdown {
  background-color: transparent;
  cursor: pointer;
  padding: .5rem 2.5rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-left: none;
  border-bottom: none;

  .placeholder {
    display: block;
    @include fontSize(12);
    letter-spacing: .3px;
    font-family: $roboto-regular;
    color: $black-twelve;
    text-transform: uppercase;
    @include padding(0,16,0, 0);
    margin-bottom: -0.1rem;
  }

  .dropHeading {
    @include fontSize(16);
    color: $warm-grey-eight;
    letter-spacing: .48px;
    font-family: $roboto-regular;
    background: url('/images/filter-dropdown.png') right no-repeat;
    padding-right: 2rem;
  }
}

.dropMenu {
  transform: translate3d(0, 50px, 0px) !important;
  padding: 0;
  margin: 0;
  font-family: $roboto-medium;
  box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.3);
  border: none;
  max-height: 30rem;
  overflow-y: auto;

  .dropItem {
    padding: 1rem 2.5rem;
    white-space: nowrap;
    @include fontSize(16);

    &:hover {
      background-color: #e8e4e4;
    }
  }

  .dropItemSmall {
    padding: 0.5rem 1rem;
    white-space: nowrap;
    @include fontSize(13);

    &:hover {
      background-color: #e8e4e4;
    }
  }

  .selectedItem {
    background-color: #e8e4e4;
  }
}

.sortDropdown {
  display: inline-block;
  cursor: pointer;

  .dropHeading {
    @include fontSize(14);
    color: $black-twelve;
    letter-spacing: .48px;
    font-family: $roboto-regular;
    background: url('/images/filter-dropdown.png') right no-repeat;
    padding-right: 2rem;
  }

  .dropMenu {
    transform: translate3d(0, 19px, 0px) !important;
  }
}

.mobileCarousal {
  display: none;
  @include mobile {
    display: flex;
    margin-top: 2rem;
  }
}

//--------------------

.mobileFormContainer {
  @include padding(30);
}

.searchField {
  @include width(700);
  margin: 0 auto;
  border: 1px solid  rgba(0, 0, 0, 0.16);
  border-radius: 5px;
  margin-bottom: 4rem;

  @include mobile {
      width: 90%;
  }

  input {
      border: none;
      @include height(55);
      @include padding(0, 20);
      @include fontSize(18);
      color: $black-five;
      letter-spacing: 0.36px;
      font-family: $roboto-regular;

      &:focus {
          outline: 0;
          box-shadow: none;
      }
  }

  button {
    padding: .75rem 2rem;
    z-index: 1;
    margin-left: 1.5rem;
    border-radius: 5px;
    box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.3);
    background-size: 10px;
    background: url("/images/filter-search-icon.png") center center no-repeat $secondary-color;
    border: none;
    @include width(70);
    @include height(55);
  }
}