@import '../../variables/fonts';
@import '../../variables/colors';
@import '../../variables/utils';

.logo-test {
  max-height: 4.8rem;
  @include tablet {
    max-height: 8.1rem;
  }
}

.ah-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  font-family: $roboto-regular;
  transition: 300ms all ease;
  background: $white;

  .ahNav {
    background-color: transparent !important;
    margin-bottom: 0;
    justify-content: space-between !important;
    height: 73px;
    padding: 0 5%;
    @include tablet {
      height: 8.1rem;
    }
    @include desktop {
      padding: 0 10%;
    }

    ul {
      @include tablet {
         @include align-center();
      }
    }
  }
}

.nav-small {
  @include mobile {
    display: none;
  }
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5rem 0 1rem;
  background: $medium-pink;
  @include tablet {
    padding: 0 8.333333%;
  }

}

.ahCollapse {
  @include mobile {
    position: fixed;
    top: 83px;
    left: 0;
  }
  width: auto;
  background-color: $white;
  box-shadow: 0 3px 6px 0 $black-16;
  padding: 1.6875rem 5.25rem 1.6875rem 2.25rem;
  border-radius: 0 5px 5px 0;
  flex-grow: 0 !important;
  @include tablet {
    height: 100%;
    position: relative;
    box-shadow: none;
    padding: 0;
    justify-content: center;
    border-radius: 0;
  }

  > ul {
    height: 100%;

    > li {
      height: 100%;
      @include flex();
      @include align-center();
      position: relative;

      a {
        cursor: pointer;
        @include mobile {
          line-height: 2.36;
          font-size: 18px;
          color: $greyish-brown-six !important;
          font-family: $roboto-regular;

        }
        font-family: $roboto-medium;
        color: $greyish-brown-six !important;
        opacity: .95;
        position: relative;
        @include fontSize(20.5);
        @include tablet {
          margin: 0 1rem;
          &:before {
            content: '';
            position: absolute;
            left: 20%;
            bottom: -1rem;
            width: 60%;
            background-color: $secondary-color;
            height: 0;
            border-radius: 2px;
          }

          &:hover {
            &:before {

              bottom: .4rem;
              height: 2px;
              transition: 300ms all ease;

            }
          }
        }
        @include desktop {
          margin: 0 2rem;
          }
      }

      a[class*=" active"] {
        color: $black;
      }

    }
  }

}

.icon-nav {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  @include mobile {
    display: none;
  }

  > li {
    height: 100%;
    display: flex;
    align-items: center;

    &:last-child {
      .icon-link {
        @include mobile {
          border-right: 1px solid $black-16;
        }
      }
    }
  }

  .icon-link {
    @include flex();
    @include flex-column();
    @include justify-center();
    font-size: .875rem !important;
    color: $black-six !important;
    background-color: rgba(255,255,255,.5);
    height: calc(100% - 1rem);
    width: 113px / 16px * 1rem;
    @include align-center();
    margin: 0 1px !important;

    &:before {
      display: none;
    }

    > img {
      margin-bottom: .4rem;
      @include height(30);
    }
  }
}

.icon-link {
  padding: .5rem 0 !important;
}

.categoriesList {
  position: absolute;
  top: 15rem;
  left: 0;
  padding: 0;
  list-style: none;
  box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.12);
  background-color: $white;
  height: 0;
  overflow: hidden;
  opacity: 0;
  display: flex;
  @include borderRadius(0,0,18,18);

  ul {
    padding: 0 !important;

    li {
      @extend %pointer;
      padding: 1rem 2.5rem 1.5rem;
      list-style: none;
      white-space: nowrap;

      a {
        color: $black-fourteen !important;
        font-family: $roboto-regular;

        &:before {
          content: '';
          position: absolute;
          left: 15%;
          bottom: -1rem;
          width: 70%;
          background-color: $secondary-color;
          height: 0;
          border-radius: 2px;
        }

        &:hover {
          text-decoration: none;

          &:before {
            bottom: -.4rem;
            height: 2px;
            transition: 300ms all ease;

          }
        }
      }
    }
  }
  @include mobile {
    display: none;
  }
}

.vendors {
  &:hover {
    .categoriesList {
      height: auto;
      top: 50px;
      transition: 500ms all ease;
      opacity: 1;
      @include padding(0,0,16);
    }
  }
}

.login-modal {
  @include width(1385);
}

.user-info {
  background-color: $primary-color;
  @include width(48);
  @include height(48);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $roboto-bold;
  @include fontSize(18);
  color: $white;
  letter-spacing: .5px;
}

.userDropdown {
  position: absolute !important;
  left: auto;
  right: -1.25rem;
  top: 4.7rem;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
  border: none;
  @include borderRadius(8);

  &:before {
    content: '';
    height: .7rem;
    width: .7rem;
    background: $white;
    position: absolute;
    top: -0.25rem;
    right: 25%;
    transform: rotate(45deg);
  }

  button {
    cursor: pointer;
    padding: .7rem;
    font-family: $roboto-light;

    &:active,
    &:focus,
    &:hover {
      background-color: #ee4d9b29;
      outline: 0;
    }
  }
}

.talk-btn {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}

.mobileMenuModal {
  top: 5rem;
  left: 0;
  position: absolute;
  width: max-content;

  ul {
    padding: 20px;
    list-style: none;

    li {
      padding: 10px 6px;
    }
  }
}

.closeBtnSmall {
  position: absolute;
  top: 0;
  right: 5px;
  cursor: pointer;
  display: none;

  @include mobile {
    display: block;
  }

  img {
    @include width(28.3);
  }
}