@import '../../variables/colors';
@import '../../variables/utils';
@import '../../variables/fonts';

h1 {
  font-family: $frank-regular;
  @include fontSize(48);
  @include letterSpacing(1.2);
  line-height: 1;
  @include margin(0,0,8);
}

hr {
  width: 20%;
  border-top: 1px solid $black;
}

.pLarge {
  @include fontSize(20);
  line-height: 1.5;
  @include letterSpacing(.7);
  color: $black;
}

.black-five {
  color: $black-five;
}

.pSmall {
  @include fontSize(18);
  line-height: 1.6;
  @include letterSpacing(.6);
}

.center {
  margin: 0 auto;
}

.package-wrap {
  @include width(1400);
  margin: 0 auto;
  max-width: 100%;
  padding: 3rem 3rem 0;
  @include mobile {
    padding:0;
  }
}

.carousel-wrap {
  @include padding(65,0,0);
}

.other-wrap {
  @include padding(48);
  margin: 0 auto;

  h1 {
    margin-bottom: 2rem;

  }
  @media only screen and (min-width: 992px) {
    max-width: 750px;
  }
  @include hd {
    max-width: 890px;
  }
  @include hdPlus {
    max-width: 1200px;
  }
}
