@import '../../variables/fonts';
@import '../../variables/colors';
@import '../../variables/utils';


.not-found-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 4rem 0;
  @include margin(165.3,0,0);
  background-color: $white;

  h1 {
    @include fontSize(120);
    font-family: $roboto-bold;
    line-height: 0.73;
  }

  h2 {
    @include fontSize(14);
    font-family: $roboto-regular;
    color: $black;
  }
}

.back-button {
  width: auto;
  border-radius: 5px;
  background-color: $red;
  color: $white;
  padding: .5rem 2rem;
  margin-top: 2rem;
  &:hover {
    color: $white;
    text-decoration: none;
  }
}
.image {
  @include width(586.3);
}