@import '../../variables/fonts';
@import '../../variables/colors';
@import '../../variables/utils';

title {
  color: $bright-red;
  font-family: $nunito-regular;
}

.not-found-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 8rem 0;
  @include margin(165.3,0,0);
  background-color: $white-two;

  h1 {
    @include fontSize(120);
    font-family: $nunito-bold;
    line-height: 0.73;
  }

  h2 {
    @include fontSize(25);
    font-family: $nunito-regular;
  }
}

.back-button {
  width: auto;
  @include borderRadius(50);
  background-color: $red;
  color: $white;
  padding: .5rem 2rem;
  margin-top: 2rem;
  &:hover {
    color: $white;
    text-decoration: none;
  }
}
