@import '../../variables/fonts';
@import '../../variables/colors';
@import '../../variables/utils';

.not-found-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 6rem 0;
  @include margin(165.3,0,0);
  background-color: $white;

  h1 {
    @include fontSize(120);
    font-family: $roboto-bold;
    line-height: .73;
  }

  h2 {
    @include fontSize(14);
    font-family: $roboto-regular;
    color: $black;
    margin-bottom: 3rem;

  }
}

.image {
  @include width(586.3);
}
