@import '../../variables/colors';
@import '../../variables/utils';
@import '../../variables/fonts';
@import '../../variables/breakpoints';

.aboutContainer {
  color: $black;

  .aboutCover {
    height: 42vw;
    position: relative;
    background: url('#{$image-base-url}/about-cover.png');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    @include mobile {
      height: 48vw;
    }
  }

  .h2Class {
    font-family: $frank-medium;
    @include fontSize(52);
    line-height: 4rem;
    color: $medium-pink;
    @include letterSpacing(1.44);
    text-align: center;

    @include mobile {
      @include fontSize(42, !important);
      line-height: 3rem;
    }
  }

  .h2ClassPurple {
    @extend .h2Class;
    color: $secondary-color;
    width: 80%;
    margin: 0 auto;

    @include mobile {
      @include fontSize(28, !important);
    }
  }

  .h2BigMobile {
    @extend .h2Class;
    color: $secondary-color;
    @include fontSize(52, !important);
  }

  .h4Class {
    font-family: $roboto-bold;
    color: $secondary-color;
    @include fontSize(30);
    text-align: center;
    line-height: 2.5rem;
  }

  .h4ClassGrey {
    @extend .h4Class;
    font-family: $roboto-light;
    color: $greyish-brown;

    @include mobile {
      @include fontSize(20);
    }
  }

  .vowsImage {
    width: max-content;
    margin: 0 auto;

    img {
      @include width(340);
    }
  }

  .logoImage {
    text-align: right;
    margin-top: 3rem;
    img {
      @include width(340);
    }

    @include mobile {
      text-align: center;

      img {
        margin-bottom: 2rem;
      }
    }
  }

  .pClass {
    @include fontSize(34);
    @include letterSpacing(.31);
    color: #ffffff;
    line-height: 2.25rem;
    font-family: $roboto-regular;

    @include tabletOnly {
      @include fontSize(25);
    }

    @include mobile {
      @include fontSize(25);
    }
  }

  .pSmallClass {
    @include fontSize(22);
    @include letterSpacing(.31);
    color: #ffffff;
    line-height: 1.6rem;
    font-family: $roboto-medium;

    @include tabletOnly {
      @include fontSize(15);
    }

    @include mobile {
      @include fontSize(12);
    }
  }

  .pSmallLight {
    @extend .pSmallClass;
    @include fontSize(20);
    font-family: $roboto-light;
  }

  p {
    @include mobile {
      padding-right: 0 !important;
      padding-left: 0 !important;
    }
  }
}

.aboutSubContainer {
  @include hd {
    max-width: 80%;
  }
  @include hdPlus {
    max-width: 80%;
  }
}

//members container styles 

.noPadding {
  padding: 0;
}

.memberContainer {
  .member {
    margin: 0.5rem;
    position: relative;
    cursor: pointer;
    img {
      width: 100%;
    }

    .memberHover {
      height: 90%;
      width: 87%;
      position: absolute;
      top: 0;
      margin: 1rem;
      background-color: rgba(109, 33, 88, 0.4);
      opacity: 0;
      transition: .5s cubic-bezier(0.4, 0, 1, 1);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      padding: 0.5rem;
      text-align: center;

      @include mobile {
        margin: 0.5rem;
      }
    }

    &:hover {
      .memberHover {
        opacity: 1;
      }
    }
  }

  @include mobile {
    @include padding(20);
  }
}

.pinkContainer {
  background-color: $medium-pink;
  height: 100%;
  @include padding(80,40, 0);

  @include tabletOnly {
    @include padding(30,15, 0);
  }

  @include mobile {
    @include padding(30, 15, 0);
  }
}

.alignMiddle {
  @include mobile {
    margin: 0 auto;
    width: max-content;
  }
}

