@import '../../variables/colors';
@import '../../variables/fonts';
@import '../../variables/utils';

.footer-container {
  padding: 2rem 5% !important;
  margin: 0 !important;
  background-color: $secondary-color;
  @include tablet {
    text-align: left;
    @include padding(60,123,30, $important: true);
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      @include fontSize(18);
      @include letterSpacing(.5);
      color: $black;

      &:first-child {
        font-family: $roboto-bold;
      }
    }
  }
  .footerEventLinks {
    .footerImages {
        display: none;
    }
  }
  @include mobile {
    .footerContact {
      order: 3;
      min-width: 100%;
      .footerContactContainer {
        @include flex();
        @include justify-space-between;
      }
      .footerPhoneEmail {
        text-align: right;
      }
    }
    .footerNavLinks {
      order: 1;
      min-width: calc(50% - 15px);
      border-bottom: 1px solid $primary-color;
      padding-left: 0;
      margin-left: 15px;
      text-align: left;
    }
    .footerEventLinks {
      min-width: calc(50% - 15px);
      border-bottom: 1px solid $primary-color;
      padding-right: 0;
      margin-right: 15px;
      order: 2;
      text-align: right;
      ul li {
        @include justify-right();
      }
      .footerImages {
        display: inline-block;
      }
    }
    .footerBottomLinks {
      order: 4;
      .footerImages {
        display: none;
      }
      .footer-right {
        flex-direction: row;
        flex-wrap: wrap;
        @include justify-center();
      }
    }
  }
}

p {
  @include fontSize(16);
  @include letterSpacing(.3);
  a {
    color: inherit;
    &:hover {
      color: inherit;
    }
  }

}

.block {
  @include mobile {
    margin-bottom: 2rem;
  }

  p:first-child {
    font-family: $frank-bold;
    @include fontSize(18);
    margin-bottom: 1rem;

    span {
      font-family: $roboto-regular;
      @include fontSize(16);

    }
  }

  ul {
    li {
      display: flex;

      a {
        color: $white;
        font-family: $roboto-regular;
        @include fontSize(16);
        @include padding(8,0);
      }
    }
  }
}

.footerImages {
  a {
    img {
      height: 1.52rem;
      width: 1.52rem;
      margin-left: 1rem;
    }

    &:first-child {
      img {
        margin-left: 0;

      }
    }
  }
  margin-bottom: 2rem;
}

.footer-right {
  display: flex;
  flex-direction: column;
  height: 100%;
}
