@import '../../variables/colors';
@import '../../variables/fonts';
@import '../../variables/utils';

.footer-container {
  padding: 2rem 5% !important;
  margin: 0 !important;
  background-color: $secondary-color;
  @include tablet {
    text-align: left;
    @include padding(60,123,0, $important: true);
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      @include fontSize(18);
      @include letterSpacing(.5);
      color: $black;

      &:first-child {
        font-weight: 700;
      }
    }
  }

  p {
    @include fontSize(17.6);
    @include letterSpacing(.3);

    a {
      color: inherit;

      &:hover {
        color: inherit;
      }
    }
    @include mobile {
      text-align: left;
      @include padding(0,35);
    }

  }

  .block {
    margin-bottom: 2rem;
    @include mobile {
      margin-bottom: 0;
    }

    p:first-child {
      font-family:  $frank; font-weight: 400;
      @include fontSize(20);
      margin-bottom: .5rem;

      span {
        font-weight: 400;
        @include fontSize(16);
      }
      @include mobile {
        margin-bottom: 1rem;
      }
    }

    ul {
      li {
        display: flex;

        a {
          color: $white;
          font-weight: 400;
          @include fontSize(16);
          @include padding(8,0);
        }
      }
      @include mobile {
         @include padding(5,35);

        li a {
          @include fontSize(20);
        }
      }
    }
  }

  .footerImages {
    a {
      img {
        height: 1.52rem;
        width: 1.52rem;
        margin-left: 1rem;
      }

      &:first-child {
        img {
          margin-left: 0;

        }
      }
    }
    // margin-bottom: 2rem;
  }

  .footer-right {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .collapseControl {
    margin-bottom: 1rem;
    display: none;
    @include padding(15,35);
    @include borderRadius(10);
    background: url('#{$image-base-url}/dropicon_white.svg') 92% 50% no-repeat;
    background-color: rgb(134, 71, 116);
    background-size: 12px;
    text-align: left;
    @include fontSize(30, !important);
    font-family:  $frank; font-weight: 400;
    @include mobile {
      display: block;
    }
  }

  .mb2mob {
    @include mobile {
      margin-bottom: 2rem;
    }
  }

  .footerHeading {
    font-family:  $frank; font-weight: 400;
    @include fontSize(20);
    margin-bottom: .5rem;
  }
  .address {
    padding-top: .5rem;
  }
}
