@import '../../variables/fonts';
@import '../../variables/colors';
@import '../../variables/utils';

.title {
  color: $blue;
}

.react-logo {
  width: 200px;
}

.hearts {
  position: absolute;
  width: 29.55rem;
  height: 38rem;
  right: 0;
  top: 5.75rem;
}

.balloons {
  position: absolute;
  width: 10.65rem;
  height: 33.05rem;
  left: 0;
  top: 10rem;
}

//Jumbotron 

h1 {
  font-family: $playfair-regular;
  @include fontSize(58);
  @include letterSpacing(1.2);
  line-height: 1;
  color: $black-five;
}

hr {
  width: 20%;
  border-top: 1px solid $black;
}

.button {
  @include borderRadius(3);
  @include padding(12,24);
  font-family: $nunito-bold;
  border-radius: .15rem;
  background-color: $bright-red;
  border: none;
  @include fontSize(16);
  @include letterSpacing(.4);
}

a.button {
  color: $white;
  text-decoration: none;

  &:hover {
    color: $white;
    text-decoration: none;

  }
}

.pLarge {
  @include fontSize(24);
  @include letterSpacing(.7);
  line-height: 1.5;
}

.pSmall {
  @include fontSize(18);
  line-height: 1.6;
  @include letterSpacing(.6);
}

.center {
  margin: 0 auto;
}

// carousel styles
.carouselItem {
  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, rgba(56, 26, 28, 0.53), rgba(58, 27, 29, 0.78) 31%, rgba(95, 43, 48, 0) 65%, rgba(0, 0, 0, 0));
  }
}
.carouselContent {
  position: absolute;
  text-align: center;
  bottom: 5rem;
  left: 0;
  right: 0;
  color: white;

  h3 {
    font-family: $playfair-regular;
    @include fontSize(26);
    letter-spacing: .8px;
    text-align: center;
    @include width(640);
    margin: 0 auto 2rem;
  }

  .buttonContainer {
    display: contents;
    position: absolute;
    text-align: center;

    .button {
      @include fontSize(22);
      @include letterSpacing(.7);
    }
  }
}

// Package styles

.packageContainer {
  display: flex;
  justify-content: space-around;
  padding: 5rem 0;
  border-bottom: 2px solid #eee;

  .details {
    width: max-content;
    padding-top: 2.5rem; 
  }

  .featureImage {
    @include width(407);
    @include height(407);
    border-radius: 50%;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    cursor: pointer;

    button {
      background-color: $bright-red;
      @include fontSize(14);
      @include letterSpacing(0.4);
      font-family: $nunito-regular;
    }
  }

  &:last-child {
    border: none;
  }

  &:nth-child(even) {
    flex-direction: row-reverse;
  }
}

.price {
  @include fontSize(24);
  line-height: 1.22;
  @include letterSpacing(.24);
}

.priceNow {
  color: $bright-red;
  font-family: $opensans-semi-bold;
}

.priceBefore {
  color: $black-two;
  font-family: $opensans-regular;
}

// multicarousel styles - horizontal

.multiContainer {
  @include padding(0, 40);
  @include margin(70,0,0,0);
}

.multiItem {
  width: 100%;
  text-align: center;

  .roundImg {
    @include width(223);
    @include height(223);
    border-radius: 50%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      cursor: pointer;
      @include width(223);
      @include height(223);
    }
  }

  h3 {
    font-family: $playfair-regular;
    @include fontSize(30);
    @include letterSpacing(1.2);
    line-height: 1.3;
    color: $black;
    width: 70%;
    margin: 0 auto;
  }

  p {
    width: 55%;
    margin: 0 auto;
  }
}

// multicarousel styles - vertical

.staticItem {
  width: 95%;
  @include height(360);
  background-image: url('/images/login-bg.jpg');
  background-size: cover;
  border-radius:5px; 
  position: relative;

  &:first-child {
    @include margin(0,0,40,0);
  }
  
  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 35%;
    background-color: rgba(0, 0, 0, 0.7);
    border-bottom-left-radius: 5px; 
    border-bottom-right-radius: 5px; 
  }

  h4 {
    position: absolute;
    bottom: 18%;
    width: 100%;
    text-align: center;
    color: #ffffff;

    font-family: $nunito-bold;
    @include fontSize(20);
    @include letterSpacing(0.6);
  }

  p {
    color: $white;
    position: absolute;
    top: 80%;
    width: 100%;
    text-align: center;
  }
}

.verticalMultiContainer {
  
}

.verticalMultiItem {
  width: 100%;
  @include height(260);  
  display: flex !important;
  justify-content: space-between;
  flex-direction: row;
  padding: 10px 0; 
  border-radius: 5px; 

  .imageContainer {
    width: 45%;
    border-radius: 5px; 
    img {
      width: 100%;
      height: 100%;
      border-top-left-radius: 5px; 
      border-bottom-left-radius: 5px; 
    }
  }

  .detailContainer {
    width: 55%;
    background-color: $bright-red;
    color: $white;
    @include padding(15,20,0,25);
    position: relative;
    border-top-right-radius: 5px; 
    border-bottom-right-radius: 5px; 

    p {
      @include fontSize(18);
      @include letterSpacing(0.54);
    }

    h3 {
      @include fontSize(30);
      font-family: $nunito-semi-bold;
    }

    .handle {
      @include width(40);
      @include height(40);
      background-color: $bright-red;
      transform: rotate(45deg);
      position: absolute;
      left: -4.5%;
      top: 35%;
    }
  }

}

.evenStyle {
  flex-direction: row-reverse;

  .imageContainer {
    img {
      border-top-right-radius: 5px; 
      border-bottom-right-radius: 5px; 
      border-top-left-radius: 0; 
      border-bottom-left-radius: 0; 
    }
  }

  .detailContainer {
    background-color: rgba(0, 0, 0, 0.16);
    color: $black ;
    border-top-right-radius: 0; 
    border-bottom-right-radius: 0; 
    border-top-left-radius: 5px; 
    border-bottom-left-radius: 5px; 

    .handle {
      background-color: #dcd5d5;
      left: auto;
      right: -4.5%;
      top: 35%;
    }
  }
}
