@import '../../variables/fonts';
@import '../../variables/colors';
@import '../../variables/utils';

.title {
  color: $blue;
}

.react-logo {
  width: 200px;
}

.hearts {
  position: absolute;
  width: 29.55rem;
  height: 38rem;
  right: 0;
  top: 5.75rem;
}

.balloons {
  position: absolute;
  width: 10.65rem;
  height: 33.05rem;
  left: 0;
  top: 10rem;
}

//Jumbotron 

h1 {
  font-family: $roboto-regular;
  @include fontSize(58);
  @include letterSpacing(1.2);
  line-height: 1;
  color: $black-five;
}

hr {
  width: 20%;
  border-top: 1px solid $black;
}

.button {
  @include borderRadius(3);
  @include padding(12,24);
  font-family: $roboto-bold;
  border-radius: .15rem;
  background-color: $bright-red;
  border: none;
  @include fontSize(16);
  @include letterSpacing(.4);
}

a.button {
  color: $white;
  text-decoration: none;

  &:hover {
    color: $white;
    text-decoration: none;

  }
}

.pLarge {
  @include fontSize(24);
  @include letterSpacing(.7);
  line-height: 1.5;
}

.pSmall {
  @include fontSize(18);
  line-height: 1.67;
  @include letterSpacing(.6);
  max-height: 7.515rem;
  overflow: hidden;
}

.center {
  margin: 0 auto;
}

// carousel styles
.carouselItem {
  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, rgba(56, 26, 28, 0.53), rgba(58, 27, 29, 0.78) 31%, rgba(95, 43, 48, 0) 65%, rgba(0, 0, 0, 0));
  }
}

// Package styles

.packageContainer {
  display: flex;
  justify-content: space-between;
  // padding: 3.5rem 0;
  @include padding(59.5,0);
  border-bottom: 2px solid #eee;

  .details {
    // width: max-content;
    @include width(787);
    padding-top: 2.5rem; 
  }

  .featureImage {
    @include width(406);
    @include height(406);
    border-radius: 50%;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    cursor: pointer;
    flex-shrink: 0;

    button {
      background-color: $bright-red;
      @include fontSize(14);
      @include letterSpacing(0.4);
      font-family: $roboto-regular;
    }
  }

  &:last-child {
    border: none;
  }

  &:nth-child(even) {
    flex-direction: row-reverse;
  }
}

.price {
  @include fontSize(24);
  line-height: 1.22;
  @include letterSpacing(.24);
}

.priceNow {
  color: $bright-red;
  font-family: $roboto-medium;
}

.priceBefore {
  color: $black-two;
  font-family: $roboto-regular;
}

// multicarousel styles - horizontal

.multiContainer {
  @include padding(0, 40);
  @include margin(70,0,0,0);
}

.multiItem {
  width: 100%;
  text-align: center;

  .roundImg {
    @include width(223);
    @include height(223);
    border-radius: 50%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      cursor: pointer;
      @include width(223);
      @include height(223);
    }
  }

  h3 {
    font-family: $roboto-regular;
    @include fontSize(30);
    @include letterSpacing(1.2);
    line-height: 1.3;
    color: $black;
    width: 70%;
    margin: 0 auto;
  }

  p {
    width: 55%;
    margin: 0 auto;
  }
}

// multicarousel styles - vertical

.staticItem {
  width: 95%;
  @include height(360);
  background-size: cover;
  @include borderRadius(18);
  position: relative;
  cursor: pointer;

  &:first-child {
    @include margin(0,0,40,0);
  }
  
  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 35%;
    background-color: rgba(0, 0, 0, 0.7);
    border-bottom-left-radius: 20px; 
    border-bottom-right-radius: 20px; 
  }

  h4 {
    font-family: $frank-medium;
    position: absolute;
    bottom: 18%;
    width: 100%;
    text-align: center;
    color: $white;
    @include fontSize(20);
    @include letterSpacing(0.6);
  }

  p {
    color: $white;
    position: absolute;
    top: 80%;
    width: 100%;
    text-align: center;
  }
}

.verticalMultiItem {
  width: 100%;  
  cursor: pointer;
  @include height(262);
  display: flex !important;
  justify-content: space-between;
  flex-direction: row;
  @include padding(16,0);
  @include borderRadius(18);

  .imageContainer {
    width: 45%;
    @include borderRadius(18,0,0,18);
    background-size: cover;
    background-repeat: none; 
  }

  .detailContainer {
    width: 55%;
    background-color: $bright-red;
    color: $white !important;
    @include padding(20,20,0,30);
    position: relative;
    @include borderRadius(0,18,18,0);

    p {
      @include fontSize(18);
      @include letterSpacing(0.54);
    }

    .pmore {
      font-family: $roboto-medium;
      position: absolute;
      bottom: 0;
      right: 2.5rem;  
    }

    .pdetail {
      margin-top: 1rem;
      height: 7rem;

      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    h3 {
      font-family: $frank-medium;
      @include fontSize(30);
      color: $white;
    }

    .handle {
      @include width(40);
      @include height(40);
      background-color: $bright-red;
      transform: rotate(45deg);
      position: absolute;
      left: -4.5%;
      top: 35%;
    }
  }

}

.evenStyle {
  flex-direction: row-reverse;

  .imageContainer {
    @include borderRadius(0,18,18,0);

  }

  .detailContainer {
    background-color: rgba(0, 0, 0, 0.16);
    color: $black !important;
    @include borderRadius(18,0,0,18);

    .handle {
      background-color: #dcd5d5;
      left: auto;
      right: -4.5%;
      top: 35%;
    }
    h3 {
      color: $black !important;
    }
  }
}
.carousel-header {
  font-family: $frank-regular;
  @include fontSize(58);
  line-height: 1.24;
  color: white;

}

.carousel-text {
  font-family: $roboto-regular;
  line-height: 1.21;
  @include fontSize(28);
  margin-bottom: 1.5rem;
}

.carousel-btn {
  @include fontSize(22);
  &:hover {
    color: $white;
    text-decoration: none;
  }
}

.carouselContent {
  position: absolute;
  text-align: center;
  @include top(104.7);
  @include left(126);
  color: white;
  text-align: left;
  padding-right: 50%;

  .buttonContainer {
    display: flex;
    flex-grow: 1;
  }
}

.bottom-curve {
  position: absolute;
  left: 0;
  bottom: -.5rem;
  max-width: 100%;
  height: auto;
  width: 100%;
}