@import '../../variables/colors';
@import '../../variables/fonts';
@import '../../variables/utils';

.no-result-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    img {
        @include width(403);
        height: auto;
        @include margin(30,0);
    }
    p {
        font-family: $roboto-light;
        @include fontSize(30);
        @include letterSpacing(.7);
        line-height: 2;
        color: $grape;
        &:first-of-type {
            position: relative;
            &:before {
                content: '';
                width: 100%;
                border-top: 1px solid $grape;
                position: absolute;
                bottom: -.5rem;
                left: 0;
            }
        }
    }
}