@import '../../variables/colors';
@import '../../variables/utils';
@import '../../variables/fonts';
@import '../../variables/breakpoints';

.subTitle {
  text-align: center;
}

.listTitle {
  color: $black;
  @include fontSize(24);
  cursor: pointer;
}

.vendorList {
  list-style-type: none;
  padding: 0;
}

.listItem {
  @include fontSize(20);
  padding: 1rem;
  cursor: pointer;

  &.active {
    color: $primary-color;
  }
}

.listDetailContainer {
  background-color: $white-two;
  box-shadow: 0 0 10px 0 $black-16;
  @include padding(15,37);
  @include borderRadius(5);
}

.addNew {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #FEF1F7;
  border: 1px dashed $primary-color;
  // @include width(403);
  width: auto;
  @include height(362);
  @include borderRadius(18);
  @include margin(16,0);
  @include fontSize(24);
  color: $primary-color;
  cursor: pointer;
}

.addBtn {
  @include width(114);
  @include height(114);
  background-color: $white;
  border: 1px dashed $primary-color;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.vendorName {
  @include fontSize(30);
  color: $black;
}

.subText {
  @include fontSize(20);
}

.selectedCount {
  @include fontSize(20);
  font-family: $roboto-medium;
}

.collaboratorList {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2rem;
}

.collaborator {
  @include width(36);
  @include height(36);
  border: 1px solid $primary-color;
  border-radius: 50%;
  color: $primary-color;
  @include fontSize(18);
  display: flex;
  justify-content: center;
  align-items: center;
}

.collaboratorCount {
  @include width(36);
  @include height(36);
  background-color: $primary-color;
  color: $white;
  @include fontSize(18);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-left: 5px;
}

.addCollaborator {
  display: flex;
  justify-content: center;
  align-items: center;
}
