@import '../../variables/colors';
@import '../../variables/utils';
@import '../../variables/fonts';

.image-wrap {
  overflow: hidden;
  max-width: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;

  .homeImage {
    transition: all 1.8s ease;
    width: 100%;
    height: 90vw;
    @include tablet {
      height: 47vw;
      width: 100%;
    }

    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      @include height(500);
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), $black);
    }
  }
}

.image-at-services {
  overflow: hidden;
  max-width: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;

  .homeImage {
    transition: all 1.8s ease;
    width: 100%;
    height: 90vw;
    @include tablet {
      width: 50vw;
      max-width: 54.1248rem;
      height: 35.7142rem;
      background-size: cover;
    }

    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      @include height(500);
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(67, 67, 67, 0.753));
    }
  }
}
